/* Page layout adjustments */
.mediawiki {
    margin: 0 !important;
}

#mwext-bc {
    display: none;
}

#contentSub {
    margin-block: @space-xSmall;
}

.wikiEditor-ui-toolbar {
    height: max-content;
}

/* Search game results adjustment */
th.sorting {
    background-position: center right !important;
    text-align: left;
    padding: 0 @space-large 0 0 !important;
    min-width: 7rem !important;
    width: 7rem !important;

    &:not(:last-of-type) {
        border-inline-end: 1px solid @gray-lightest;
    }
}

/* Images preview adjusments */
.mw-mmv-above-fold {
    height: unset !important;
}


/* Search fix */
.suggestions {
    top: 31px !important;

    .suggestions-result,
    .special-label,
    .special-query {
        text-align: left !important;
    }
}

.cargoDynamicTable {
    .viewport-wide-up-to(@viewport-regular; {
        min-width: max-content;
    });
    
}


/* Edit page fix */
.wikiEditor-ui-clear {
    border-top: 1px solid #c8ccd1;
}

.wikiEditor-ui-view {
    border-top: 0 !important;
}