.games-list-tabs-container {
    .slim-tabs #res-tabs-content {
        p {
            margin: 0;
        }

        .games-list-list-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
            gap: @space-large;

            .viewport-wide-start-from(@viewport-small; {
                    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
                });

            .viewport-wide-start-from(@viewport-large; {
                    gap: @space-xLarge;
                    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
                });
        }

        .games-disclaimer {
            .disclaimer();
            margin-block-start: @space-regular;
        }
    }
}

.nmpSeasonGamesListContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: @space-large;

    background-color: white;
    padding: @space-regular;
    margin: -8px;

    p {
        margin: 0;
    }

    .viewport-wide-start-from(@viewport-regular; {
            gap: @space-xLarge;
            grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
        });
}



.games-list-game-container {
    position: relative;

    display: grid;
    grid-template-rows: repeat(2, auto) 1fr auto;

    border: 1px solid @gray-lightest;
    border-radius: @border-radius-regular-rem;
    overflow: hidden;
    .transition(@transition-fast, background-color);

    &:hover {
        background-color: @background-secondary-lighter;
    }

    &>a {
        .absolute-full-container-link();
    }


    .games-list-game-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: @space-small;

        background-color: @background-primary-darker;
        color: @text-secondary;
        font-size: @font-size-xSmall-rem;
        padding: @space-xSmall @space-small;

        .viewport-wide-start-from(@viewport-small; {
                font-size: @font-size-small-rem;
            });

        a {
            color: @white;
            text-decoration: none;
        }

        .collections p {
            display: flex;
            gap: @space-small;
        }
    }

    .competition {
        border-block-end: 1px solid @gray-lightest;
        font-size: @font-size-xSmall-rem;

        .viewport-wide-start-from(@viewport-small; {
                font-size: @font-size-small-rem;
            });

        p {
            .flex-column();
            gap: @space-small;

            text-align: center;

            .name {
                padding-inline: @space-xSmall;
            }
        }
    }

    .result-container {
        border-block-end: 1px solid @gray-lightest;

        .win-team {
            font-weight: bold;
        }

        .team-name {
            .ellipsis();
        }

        p {
            display: grid;
            grid-template-columns: 1fr auto;

            padding: 0 @space-regular;
        }
    }

    .result-indicator {
        height: 2px;

        &.win {
            background-color: @background-contrast-regular;
        }

        &.loose {
            background-color: @background-primary-darker;
        }

        &.tie {
            background-color: @background-secondary-lighter;
        }
    }
}