.images-slider {
    max-width: 250px;
}

.mp-image-slider-container {
    overflow: hidden;
    line-height: 0.8;

    img {
        width: 100%;
        height: 100%;
        max-height: 200px;

        object-fit: contain;
    }

    .slick-arrow {
        position: absolute;
        z-index: 5;

        display: block;

        border-radius: 50vw;
        background-image: url("https://maccabipedia.co.il/skins/Metrolook/assets/images/arrow.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 50%;
        background-color: @background-primary;
        color: @text-secondary !important;
        width: 1.5rem;
        height: 1.5rem;
        opacity: 0.3;
        box-shadow: @gray-regular 0 0 5px 1px;
        .transition(@transition-regular, all);

        &:hover,
        &:active,
        &:focus {
            background-image: url("https://maccabipedia.co.il/skins/Metrolook/assets/images/arrow.svg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 50%;
            background-color: @background-primary;
            color: @text-secondary !important;
        }

        &:hover {
            opacity: 1;
        }

        &::before {
            content: "" !important;
            line-height: 0.7rem;
            color: unset !important;
        }

        &.slick-prev {
            right: @space-xSmall !important;
            transform: translate(0, -50%) rotate(180deg);
        }

        &.slick-next {
            left: @space-xSmall !important;
        }
    }

    .slick-dots {
        flex-direction: row-reverse;
        gap: unset !important;

        bottom: 0;
        right: 50%;
        transform: translateX(50%);

        border-radius: @border-radius-regular-rem;
        background-color: @background-contrast-regular;
        margin: 0;
        margin-block-end: @space-small !important;
        width: unset !important;

        li {
            margin: 0;

            &.slick-active {
                button::before {
                    color: @text-emphasis;
                }
            }

            button::before {
                border-radius: 50vw;

                .transition(@transition-regular, all);
            }
        }
    }
}