.portal-branches-buttons {
    display: flex;
    gap: @space-regular;

    .button-container {
        .flex-center-center(true);

        position: relative;

        border-radius: @border-radius-regular-rem;
        border: 1px solid @blue-regular;
        padding: @space-large;

        &:hover {
            background-color: @background-secondary-lighter;
            .transition(@transition-fast, background-color);
        }

        a {
            position: absolute;
            inset: 0;
        }

        i {
            border-radius: 50%;
            font-size: @font-size-xxxLarge-rem;

            &.football {
                color: @text-primary;
                background-color: @white;
            }

            &.basketball {
                color: orange;
                background-color: @white;
            }

            &.volleyball {
                color: @text-secondary;
                background-color: @background-primary;
            }

            &.handball {
                background-color: @text-secondary;
                color: @background-primary;
            }
        }

        .title {
            color: @text-emphasis;
            font-size: @font-size-xxLarge-rem;
            font-weight: bold;
        }
    }
}