.atom-records-list-player-row() {
    display: grid;
    grid-template-columns: 1fr 5rem;
    gap: @space-xxSmall;

    padding: @space-xxSmall @space-regular;

    &:nth-child(odd) {
        background-color: @background-secondary-lighter;
    }

    .atom-recors-list-player-info {
        text-align: right;

        .record {
            color: @text-emphasis;
            font-weight: 600;
        }
    }
}

.records-list-tabs-container {
    .title {
        .title-decorator(@background-contrast-regular, @white, @background-primary);
    }

    .slim-tabs #res-tabs-content {
        p {
            margin: 0;
        }

        .atom-records-list-player-row {
            .atom-records-list-player-row();
        }
    }
}

.atom-records-list-player-row {
    .atom-records-list-player-row();

    p {
        margin: 0;
    }
}