.atom-toc {
    position: fixed;
    top: 50%;
    right: 0.3rem;
    z-index: 100;

    display: flex;
    justify-content: flex-end;

    cursor: pointer;
    width: 2.5rem;
    height: 2rem;

    &.active {
        .atom-toc-toggler {
            color: @text-secondary;
            background-color: @background-contrast-regular;
        }

        .atom-toc-dropdown {
            max-height: 30rem;
        }
    }

    .atom-toc-toggler {
        .flex-center-center();

        .circle-border-radius();
        border: 1px solid @white;
        background-color: @background-primary-darker;
        color: @white;
        width: 2rem;
        height: 2rem;
        .transition(@transition-fast, all);

        &:hover {
            color: @text-secondary;
        }
    }

    .atom-toc-dropdown {
        position: absolute;
        top: 50%;
        right: 2.5rem;

        background-color: @background-primary;
        max-height: 0;
        width: max-content;
        overflow: hidden;

        transform: translateY(-50%);
        .transition(@transition-fast, max-height);

        box-shadow: 0px 0px 20px 0px @black;

        p {
            display: grid;
            grid-template-rows: repeat(auto, 1fr);

            margin: 0;

            a {
                color: @white;
                font-size: @font-size-small-rem;
                font-weight: bold;
                padding: @space-small @space-regular;

                .transition(@transition-fast, color);

                &:hover {
                    text-decoration: none;
                    color: @text-secondary;
                }

                &:focus {
                    text-decoration: none;
                }

                &:not(:last-of-type) {
                    border-block-end: 1px solid @gray-lightest;
                }
            }
        }
    }
}