.top-banner-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: @space-regular;

    background-color: @background-banner;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 100%;

    color: @white;
    text-shadow: @black 1px 1px;
    padding: @space-small @space-regular;
    min-height: 8rem;

    p,
    h2 {
        margin: 0;
    }

    p,
    .quote {
        font-size: @font-size-large-rem;
        font-weight: 600;
        filter: drop-shadow(1px 1px 2px @black);
    }

    h2 {
        border: none;
        color: @white;
        font-weight: bold;

        .emphasize {
            color: @text-secondary;
        }
    }

    .description {
        .viewport-wide-start-from(@viewport-regular; {
                max-width: 80%;
            });
    }

    .quote {
        margin-inline-start: @space-xLarge;

        &::before,
        &::after {
            content: "\""
        }
    }
}