.collapsable-title(@withBorderRadius: true) {
    >h3 {
        position: relative;

        display: flex;
        align-items: center;
        gap: @space-xSmall;

        cursor: pointer;
        background-color: @background-primary;
        color: @white;
        font-size: @font-size-large-rem;
        padding: 0;
        padding-right: @space-regular;

        &:nth-of-type(even) {
            background-color: @background-primary-darker;
        }

        .viewport-wide-up-to(@viewport-large; {
                .mw-headline {
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;

                    width: 100%;
                }
            });

        .viewport-wide-start-from(@viewport-large; {
                margin: 0;

                & when (@withBorderRadius =true) {
                    border-radius: @border-radius-small-rem;
                }

                .mw-headline {
                    padding-right: 4.7em;
                }

                .fa-chevron-down {
                    display: none;
                }
            });

        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;

            background-color: @yellow-regular;
            width: 5px;
        }

        &.close {
            .fa-chevron-down {
                transform: rotateZ(-180deg);
            }
        }

        span.title {
            margin-inline-start: @space-regular;
        }

        .fa-chevron-down {
            font-size: @font-size-xSmall-rem;
            .transition(@transition-fast, transform);
        }

        a {
            color: @white;
        }
    }
}