.flex-column() {
    display: flex;
    flex-direction: column;
}

.flex-center-center(@isColumn: false) {
    display: flex;
    align-items: center;
    justify-content: center;
    
    // Add flex-direction property if isColumn is true
    & when (@isColumn) {
        flex-direction: column;
    }
}