.game-result-colors() {
    &.win {
        background-color: @background-contrast-regular;
    }

    &.loose {
        background-color: @background-primary-darker;
    }

    &.tie {
        background-color: @background-secondary-lighter;
    }
}
