.maccabipedia-pie-chart-container,
.maccabipedia-multiple-column-chart-container,
.maccabipedia-stacked-bar-chart-container {
    width: 100%;
    height: 10rem;

    a {
        display: none;
    }

    .chart-renderer {
        width: 100%;
        height: 100%;
    }

    .chart-meta-data,
    .chart-data-hidden {
        display: none;
    }
}