.atom-league-table-container {
    font-size: @font-size-small-rem;

    &.vb-table {

        .header p,
        .teams-container .row p {
            grid-template-columns: 1rem 1fr repeat(4, 1.7rem);

            .viewport-wide-start-from(@viewport-small; {
                    grid-template-columns: 1rem 1fr repeat(3, 1.7rem) repeat(2, 2.5rem) repeat(3, 1.7rem);
                });
        }
    }

    &.fb-table {

        .header p,
        .teams-container .row p {
            grid-template-columns: 1rem 1fr repeat(5, 1.7rem);

            .viewport-wide-start-from(@viewport-small; {
                    grid-template-columns: 1rem 1fr repeat(7, 1.7rem);
                });
        }
    }

    &.bb-table {

        .header p,
        .teams-container .row p {
            grid-template-columns: 1rem 1fr repeat(4, 2rem);

            .viewport-wide-start-from(@viewport-small; {
                    grid-template-columns: 1rem 1fr repeat(7, 2rem);
                });
        }
    }

    .header p,
    .teams-container .row p {
        display: grid;
        gap: @space-xLarge;

        padding-inline: @space-small;
        margin: 0;

        .viewport-wide-start-from(@viewport-large; {
                border-block-end: 1px solid @gray-lightest;
            });

        span {

            &.mobile-hide {
                display: none;

                .viewport-wide-start-from(@viewport-small; {
                        display: block;
                    });
            }

            &.name {
                .ellipsis();
            }

            &:not(.name) {
                text-align: center;
            }

            &:not(.points) {
                position: relative;

                &::after {
                    position: absolute;
                    right: -0.5rem;

                    content: "";
                    width: 1px;
                    height: 100%;
                    background-color: @background-secondary-lighter;
                }
            }
        }
    }

    .header p {
        background-color: @background-primary-darker;
        color: @white;
        font-weight: bold;
        letter-spacing: 0.5px;
    }

    .teams-container {
        p {
            padding-block: @space-small;
        }

        .playoff-line {
            background-color: @background-secondary-lighter;
            text-align: center;
            font-weight: bold;
        }

        .relegated-line {
            background-color: @red-regular;
            height: 1px;
        }

        .tests-line {
            background-color: @red-darker;
            height: 1px;
        }

        .row {
            .viewport-wide-up-to(@viewport-small; {
                    &:not(:last-of-type) {
                        border-block-end: 1px solid @background-secondary-lighter;
                    }
                });

            .viewport-wide-start-from(@viewport-small; {
                    .transition(@transition-fast, background-color);

                    &:hover {
                        background-color: @background-secondary-lighter;
                    }
                });

            &.champion {
                background-color: @background-primary;
                color: @white;

                a {
                    color: @white;
                }
            }

            &.relegated {
                background-color: @gray-lighter;
            }

            &.maccabi {
                font-weight: bold;
            }

            p {
                padding-block: @space-xxSmall;

                span {
                    &.points {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .comments {
        font-size: @font-size-small-rem;
    }
}