.trophy-wins-categories-navigation {
    border-radius: @border-radius-small-rem;
    border: 1px solid @gray-regular;
    padding: @space-small;
    text-align: center;

    .title {
        font-weight: bold;
        margin-block-end: @space-small;
    }

    .navigation-list {
        display: flex;
        justify-content: center;
        gap: @space-small;
        flex-wrap: wrap;

        .link-container {
            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: @border-radius-small-rem;
            border: 1px solid @blue-regular;
            font-size: @font-size-small-rem;
            .transition(@transition-regular, background-color);

            &:hover {
                background-color: @gray-lightest;
            }

            &.active {
                border-color: @yellow-regular;
                background-color: @background-primary;

                a {
                    color: @text-secondary;
                    font-weight: bold;
                }
            }
        }

        a {
            color: @blue-regular;
            padding: @space-xSmall @space-large;

            &:hover {
                text-decoration: none;
            }
        }
    }
}