.competition-details-page-container.basketball {
    .entity-profile {
        .profile-container {
            .banner-text-container {
                .content.columns {
                    display: block;

                    column-count: 2;

                    .viewport-wide-start-from(@viewport-small; {
                            column-count: 3;
                        });

                    .viewport-wide-start-from(@viewport-large; {
                            column-count: 2;
                        });

                    >* {
                        break-inside: avoid;
                    }
                }
            }
        }
    }

    .records-list-container {
        .viewport-wide-start-from(@viewport-regular; {
                grid-template-columns: repeat(4, 1fr);
            });
    }
}