.ref-details-page-container.basketball {
    .profile-tabs();

    .tabber__header,
    .tabber__section article .banner-container {
        margin-block-end: @space-large;
    }

    .banner-container {
        display: flex;
        gap: @space-large;

        .row-container {
            display: flex;
            flex-direction: column;
            gap: @space-regular;

            .viewport-wide-start-from(@viewport-regular; {
                    display: grid;

                    &.with-summary {
                        grid-template-columns: 20rem repeat(3, 1fr);
                    }

                    &:not(.with-summary) {
                        grid-template-columns: repeat(5, 1fr);
                    }
                });

            .info-container {
                column-count: 2;
                column-gap: @space-small;

                >* {
                    break-inside: avoid;
                }
            }
        }
    }
}