.season-details-page-container.basketball {
    .roster-section-container {
        .roster-image-container {
            grid-column: ~"1/2";

            .image-container {
                .viewport-wide-start-from(@viewport-large; {
                        img {
                            object-fit: contain;
                        }
                    });
            }
        }

        .players-section-container {
            grid-row: ~"1/4";

            .players-list-container {
                .list {
                    .player-container {
                        .flex-column();
                        gap: @space-small;

                        .recognizer p {
                            display: flex;
                            align-items: center;
                            gap: @space-xxSmall;

                            border-block-end: 1px solid @blue-regular;
                            color: @text-emphasis;
                            margin: 0;

                            .number {
                                font-size: @font-size-small-rem;
                            }
                        }

                        .info {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            font-size: @font-size-small-rem;

                            p {
                                margin: 0;
                            }

                            .technical p {
                                display: flex;
                                gap: @space-large;

                                .age {
                                    position: relative;

                                    &::after {
                                        position: absolute;
                                        right: -0.3rem;

                                        content: "";
                                        background-color: @gray-lighter;
                                        width: 1px;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .ranking-tables {
        display: flex;
        flex-direction: column;
        gap: @space-regular;

        .viewport-wide-start-from(@viewport-regular; {
                flex-direction: row;
                flex-wrap: wrap;
                gap: @space-xLarge;

                & > * {
                    flex: 1 1 45%;
                }

                & > :first-child:nth-last-child(odd) {
                    flex-basis: 100%;
                }
            });

        .title {
            .title-decorator(@background-contrast-regular, @white, @background-primary);
        }
    }

    .players-records-container {
        .flex-column();
        gap: @space-regular;

        .viewport-wide-start-from(@viewport-regular; {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: @space-xLarge;
            });
    }
}