@border-radius-xLarge-em: 1em;
@border-radius-large-em: 0.7em;
@border-radius-regular-em: 0.5em;
@border-radius-small-em: 0.3em;
@border-radius-xSmall-em: 0.1em;

@border-radius-xLarge-rem: 1rem;
@border-radius-large-rem: 0.7rem;
@border-radius-regular-rem: 0.5rem;
@border-radius-small-rem: 0.3rem;
@border-radius-xSmall-rem: 0.1rem;