@black: #1a1a1a;
@blue-darkest: #0b2a4b;
@blue-darker: #114174;
@blue-regular: #195da6;
@blue-brighter: #2079d8;
@blue-banner: #021952;
@yellow-darker: #b09800;
@yellow-regular: #ffdd00;
@yellow-brighter: #fff932;
@red-darker: #841616;
@red-regular: #cd3232;
@white: #f7f7f7;

// grays:
@gray-regular: #a6a6a6;
@gray-lighter: #c8c8c8;
@gray-lightest: #e7e7e7;