@text-primary: @black;
@text-emphasis: @blue-regular;
@text-secondary: @yellow-regular;

@background-primary: @blue-regular;
@background-primary-darker: @blue-darker;
@background-secondary-lighter: @gray-lightest;
@background-contrast-regular: @yellow-regular;
@background-banner: @blue-banner;