@font-size-xxxxLarge-rem: 3rem;
@font-size-xxxLarge-rem: 2rem;
@font-size-xxLarge-rem: 1.5rem;
@font-size-xLarge-rem: 1.2rem;
@font-size-large-rem: 1.1rem;
@font-size-regular-rem: 1rem;
@font-size-small-rem: 0.9rem;
@font-size-xSmall-rem: 0.8rem;
@font-size-xxSmall-rem: 0.7rem;