.disclaimer() {
    font-size: @font-size-small-rem;

    &::before {
        content: "";
        float: left;
        border-radius: 50vw;
        background-color: @background-contrast-regular;
        margin-inline-end: @space-small;
        width: 0.5rem;
        height: 1.4rem;
    }

    p {
        margin: 0;
    }

    .title,
    .disclaimer-title {
        float: left;
        font-weight: bold;
        color: @text-emphasis;
        margin-inline-end: @space-small;
    }
}