.index-navigation-chip-list-container() {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    grid-template-rows: 1fr auto;
    gap: @space-xLarge;

    margin-block-start: @space-xLarge;
    padding-inline-start: @space-xLarge;

    .viewport-wide-start-from(@viewport-regular; {
            gap: @space-xxLarge;
            grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
        });

    a:hover {
        text-decoration: none;
    }
}

.index-navigation-chip-item(@isBrightMode: false) {
    position: relative;

    display: grid;
    grid-template-columns: 1fr 3rem;
    grid-template-rows: 1fr auto;

    border-radius: @border-radius-regular-rem;
    padding: @space-small;
    height: 4.5rem;
    .hover-bgc-and-box-shadow-change();

    & when (@isBrightMode =true) {
        background: linear-gradient(135deg, @yellow-brighter 80%, @yellow-regular);
    }


    & when (@isBrightMode =false) {
        background: linear-gradient(135deg, @blue-darker 80%, @blue-brighter);
    }

    .decoration {
        .flex-center-center();

        position: absolute;
        top: -@space-xLarge;
        left: -@space-xLarge;

        border-radius: 50%;
        border: 3px solid @white;
        padding: @space-small;
        width: 2rem;
        height: 2rem;

        & when (@isBrightMode =true) {
            background-color: @background-primary;
        }

        & when (@isBrightMode =false) {
            background-color: @background-contrast-regular;
        }

        i {
            font-size: @font-size-small-rem;

            & when (@isBrightMode =true) {
                color: @text-secondary;
            }

            & when (@isBrightMode =false) {
                color: @text-emphasis;
            }
        }
    }

    .item-title {
        font-size: @font-size-xLarge-rem;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 1.5rem;
        margin-inline-start: @space-regular;

        & when (@isBrightMode =true) {
            color: @text-emphasis;
            text-shadow: -2px 2px 2px @white;
        }

        & when (@isBrightMode =false) {
            color: @text-secondary;
            text-shadow: -2px 2px 2px @black;
        }
    }

    .item-counter-container {
        justify-self: end;
        text-align: center;

        border-radius: @border-radius-regular-rem;
        font-weight: bold;
        line-height: 1;
        padding: @space-small;
        height: max-content;

        & when (@isBrightMode =true) {
            background-color: @background-primary;
            color: @text-secondary;
        }

        & when (@isBrightMode =false) {
            background-color: @background-contrast-regular;
            color: @text-emphasis;
        }

        .text {
            font-size: @font-size-xxSmall-rem;
        }
    }

    .branches-list-container {
        display: flex;
        justify-content: space-between;

        grid-row: ~"2/3";
        grid-column: ~"1/3";

        .branches-list-text {
            color: @white;
            font-size: @font-size-xxSmall-rem;
            font-weight: bold;

            & when (@isBrightMode =true) {
                color: @text-primary;
            }

            & when (@isBrightMode =false) {
                color: @white;
            }
        }

        .branches-images-container {
            display: flex;
            align-items: center;
            gap: @space-small;

            >* {
                filter: drop-shadow(1px 1px 2px @black);
            }

            i {
                border-radius: 50%;

                &.fa-futbol {
                    color: @text-primary;
                    background-color: @white;
                }

                &.fa-basketball {
                    color: orange;
                    background-color: @white;
                }

                &.fa-volleyball {
                    color: @text-secondary;
                    background-color: @background-primary;
                }

                &.handball {
                    background-color: @text-secondary;
                    color: @background-primary;
                }
            }

            img {
                border-radius: 50%;
                background-color: @background-contrast-regular;
                width: 1rem;
                height: auto;
            }
        }
    }
}