.app-layout-grid() {
    display: grid;
    grid-template-columns: 0.5rem 1fr 0.5rem;

    .viewport-wide-start-from(@viewport-large; {
            grid-template-columns: minmax(0.5rem, 1fr) minmax(auto, 1280px) minmax(0.5rem, 1fr);
        });
}