.absolute-full-container-link(@zIndex: 5) {
    position: absolute;
    inset: 0;
    z-index: @zIndex;
}

.hover-bgc-and-box-shadow-change(@backgroundColor: @background-secondary-lighter) {
    .transition(@transition-regular, all);

    &:hover {
        background-color: @backgroundColor;
        box-shadow: @box-shadow-regular;
    }
}


.external-link-chips-section() {
    display: flex;
    justify-content: center;
    gap: @space-regular;

    padding-block: @space-regular;

    &.with-top-seperator {
        border-block-start: 1px solid @gray-lightest;
    }
}

.external-link-chip-item() {
    .flex-center-center(true);
    gap: @space-small;

    position: relative;

    border-radius: @border-radius-regular-rem;
    border: 1px solid @gray-lightest;
    color: @text-emphasis;
    padding: @space-small;
    width: 100%;
    max-width: 9rem;
    min-width: min-content;
    .hover-bgc-and-box-shadow-change();

    a {
        opacity: 0;
        .absolute-full-container-link();
    }

    .icon {
        font-size: @font-size-xxLarge-rem;
        line-height: 1;
    }

    .cta {
        font-size: @font-size-small-rem;
        font-weight: bold;
    }
}