.responsive-mw-gallery-container(){
    .mw-gallery-packed {
        margin: 0;
        text-align: left;

        .viewport-wide-up-to(@viewport-large; {
                display: flex;
                overflow: auto;

                img {
                    .contain-image();
                }
            });
    }
}