.page-container() {
    .flex-column();
    gap: @space-large;

    padding-block-end: @space-large;

    h2:first-of-type {
        margin-top: 0;
    }

    ~ * {
        margin-top: @space-large;
    }
}