.profile-info-description-section() {
    line-height: 1.3;

    .describe {
        font-weight: bold;

        &::after {
            content: ":";
        }
    }

    .info {
        .small {
            font-size: @font-size-xSmall-rem;

            &::before {
                content: "("
            }

            &::after {
                content: ")"
            }
        }

        &.foreign-name {
            text-transform: capitalize;
        }
    }
}

.profile-additional-info-container() {
    display: flex;

    .viewport-wide-up-to(@viewport-regular; {
            flex-direction: column;
            gap: @space-large;
        });

    .viewport-wide-start-from(@viewport-regular; {
            gap: @space-xLarge;
        });

    p {
        margin: 0;
    }
}

.profile-additional-section-info-container(@additionalCellsCount: 2, @additionalCellsWidth: 5rem) {
    flex-grow: 1;

    border: 1px solid @gray-lightest;
    border-block-start: 0;

    .additional-info-table-container {

        .table-header p,
        .profile-additional-table-row p {
            display: grid;
            grid-template-columns: 5rem 1fr repeat(@additionalCellsCount, @additionalCellsWidth);

            border-block-end: 1px solid @gray-lightest;

            .viewport-wide-start-from(@viewport-small; {
                    grid-template-columns: 5rem 1fr repeat(@additionalCellsCount, @additionalCellsWidth);
                });

            span {
                padding-inline: @space-small;

                &:not(:last-of-type) {
                    border-inline-end: 1px solid @gray-lightest;
                }
            }
        }

        .table-header {
            font-weight: bold;

            .viewport-wide-up-to(@viewport-regular; {
                    background-color: @background-primary-darker;
                    color: @text-secondary;
                });
        }

        .table-info {
            font-size: @font-size-small-rem;
            max-height: 9.8rem;
            overflow: auto;

            .profile-additional-table-row {
                .transition(@transition-fast, background-color);

                &:hover {
                    background-color: @background-secondary-lighter;
                }

                .emphasize {
                    font-weight: bold;
                }
            }
        }
    }
}

.profile-banner-container() {
    .collapsable-title(false);

    .viewport-wide-start-from(@viewport-large; {
            border-radius: @border-radius-small-rem;
        });

    span.title {
        margin-inline-start: @space-regular;
    }

    .profile-container {
        display: grid;
        grid-template-columns: 50% 1fr;
        gap: @space-regular;

        .viewport-wide-start-from(@viewport-regular; {
                grid-template-columns: minmax(auto, 12rem) repeat(3, 1fr);
                grid-template-rows: 1fr auto;
                gap: 0;

                border-block-end: 1px solid @gray-lightest;
            });

        .viewport-wide-start-from(@viewport-large; {
                grid-template-columns: minmax(auto, 16rem) repeat(3, 25%) 1fr;
                grid-template-rows: 1fr auto;
            });
    }
}

.profile-banner-image-container() {
    .viewport-wide-start-from(@viewport-regular; {
            grid-column: ~"1/2";
            grid-row: ~"1/2";

            border-inline-end: 1px solid @gray-lightest;
        });

    img {
        width: 100%;
        max-height: 10rem;
        object-fit: contain;
        object-position: top;

        .viewport-wide-start-from(@viewport-small; {
                max-height: 15rem;
            });
    }
}

.profile-banner-summary() {
    grid-column: span 2;

    background-color: @background-secondary-lighter;
    font-size: @font-size-small-rem;

    .viewport-wide-up-to(@viewport-regular; {
            display: flex;

            padding-inline: 0.3rem;

            .title {
                font-weight: bold;
            }
        });

    .viewport-wide-start-from(@viewport-regular; {
            grid-column: ~"1/-1";
            grid-row: ~"2/3";

            padding: 0 @space-regular;

            .title {
                display: none;
            }
        });
}


.profile-additional-info-section() {
    position: relative;
    border-top-left-radius: @border-radius-regular-rem;
    border-top-right-radius: @border-radius-regular-rem;
    border: 1px solid @gray-lightest;
    max-height: 14rem;
    overflow: hidden;

    .viewport-wide-start-from(@viewport-regular; {
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: 1fr;
        });

    .title {
        background-color: @background-primary-darker;
        color: @text-secondary;
        font-weight: bold;
        letter-spacing: 1px;
        padding-inline: @space-regular;
    }

    .content {
        position: relative;

        max-height: 100%;
        height: 100%;
        overflow: auto;

        &.tabs-contain {
            ul {
                position: sticky;
                top: 0;
                z-index: 10;

                background-color: white;
                padding-block: @space-small;
                margin-block-start: 0;
            }

            #res-tabs-content {
                margin-block-start: 0;
            }

            .tab-header {
                padding-inline: @space-regular;

                &::after {
                    margin: 0 0 @space-xSmall;
                }
            }

            &.table {
                padding-block-end: 1.5rem;

                .table-header {
                    border-block-start: 1px solid @gray-lightest;
                }

                &:not(.with-summary) .table-content {
                    border-block-end: 0;
                }

                .table-content {
                    overflow: unset;
                }

                img {
                    height: 0.9rem;
                    width: 0.9rem;
                }

                i {
                    font-size: 0.9rem;
                }
            }
        }

        &.plain-text {
            .flex-center-center(true);

            border: 1px solid @gray-lightest;
            border-block-start: 0;
            padding-inline: @space-small;

            .no-win-disclaimer {
                font-size: @font-size-large-rem;
                font-weight: bold;
            }
        }

        &.thropies-win-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: @space-xSmall;

            .thropy-container {
                .flex-column();
                text-align: center;

                .win-count {
                    color: @blue-regular;
                    font-size: @font-size-xxxxLarge-rem;
                    font-weight: bold;
                    line-height: 1.2;
                }

                .competition-describe {
                    font-weight: bold;
                }

                .list-container {
                    font-size: @font-size-xSmall-rem;
                }
            }
        }

        &.suggest-games-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: @space-xSmall;

            padding: @space-small;
            height: 100%;

            &.autofit-one-row {
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))
            }

            a {
                position: relative;

                color: @text-primary;
                .transition(@transition-fast, color);

                &:hover {
                    text-decoration: none;
                    color: @text-emphasis;

                    i,
                    span.count {
                        color: @gray-lighter !important;
                    }
                }

                .game-title {
                    font-size: @font-size-small-rem;
                    font-weight: bold;

                    p {
                        .flex-center-center(true);
                        margin: 0;
                    }

                    i,
                    span.count {
                        color: @gray-lightest;
                        font-size: @font-size-xxxxLarge-rem;
                        font-weight: bold;
                        line-height: 1.1;
                        .transition(@transition-fast, color);
                    }
                }

                .details {
                    font-size: @font-size-xSmall-rem;
                    text-align: center;

                    p {
                        margin: 0;
                    }
                }
            }
        }

        &.table {
            display: grid;
            grid-template-rows: auto 1fr;

            &.with-summary {
                overflow: unset;
                grid-template-rows: auto 1fr auto;
            }

            &:not(.with-summary) {
                .table-content {
                    border-block-end: 1px solid @gray-lightest;
                }
            }

            &.two-columns-second-grow {

                .table-header,
                .table-row,
                .table-summary {
                    display: grid;
                    grid-template-columns: minmax(6rem, 1fr) 6fr;
                }
            }

            &.three-columns-first-grow {

                .table-header,
                .table-row,
                .table-summary {
                    display: grid;
                    grid-template-columns: 6fr repeat(2, 1fr);
                }
            }

            &.four-columns-last-small-second-grow {

                .table-header,
                .table-row,
                .table-summary {
                    display: grid;
                    grid-template-columns: 4rem 1fr 5rem 3.5rem;
                }
            }

            &.four-columns-first-grow-rest-bigger {

                .table-header,
                .table-row,
                .table-summary {
                    display: grid;
                    grid-template-columns: 1fr repeat(3, 5rem);
                }
            }

            &.four-columns-first-grow {

                .table-header,
                .table-row,
                .table-summary {
                    display: grid;
                    grid-template-columns: 6fr repeat(3, 1fr);
                }
            }

            &.four-columns-second-grow {

                .table-header,
                .table-row,
                .table-summary {
                    display: grid;
                    grid-template-columns: 4rem 1fr repeat(2, 4rem);
                }
            }

            &.four-columns-second-third-grow {

                .table-header,
                .table-row,
                .table-summary {
                    display: grid;
                    grid-template-columns: 4rem repeat(2, 1fr) 3.5rem;
                }
            }

            &.five-columns-first-grow {

                .table-header,
                .table-row,
                .table-summary {
                    display: grid;
                    grid-template-columns: minmax(6.5rem, 1fr) repeat(4, 6.5rem);

                    width: max-content;

                    .viewport-wide-start-from(@viewport-regular; {
                            width: 100%;
                        });
                }
            }

            &.five-columns-second-grow {

                .table-header,
                .table-row,
                .table-summary {
                    display: grid;
                    grid-template-columns: 4rem 1fr repeat(3, 3rem);
                }
            }

            &.five-columns-second-third-grow {

                .table-header,
                .table-row,
                .table-summary {
                    display: grid;
                    grid-template-columns: 4rem repeat(2, 1fr) repeat(2, 3.5rem);
                }
            }

            &.seven-columns-first-grow {
                .table-header {
                    display: flex;
                    align-items: center;
                }

                .table-header,
                .table-row,
                .table-summary {
                    display: grid;
                    grid-template-columns: repeat(7, 5.5rem);

                    width: max-content;

                    .viewport-wide-start-from(@viewport-regular; {
                            grid-template-columns: minmax(5.5rem, 1fr) repeat(6, 5.5rem);
                            width: 100%;
                        });
                }

                &.first-sticks {
                    span:first-of-type {
                        position: sticky;
                        left: 0;
                        z-index: 5;

                        background-color: @white;
                    }
                }
            }

            &.eight-columns {
                .table-header {
                    display: flex;
                    align-items: center;
                }

                .table-header,
                .table-row,
                .table-summary {
                    display: grid;
                    grid-template-columns: repeat(8, 5.5rem);

                    width: max-content;

                    .viewport-wide-start-from(@viewport-regular; {
                            grid-template-columns: minmax(5.5rem, 1fr) repeat(7, 5.5rem);
                            width: 100%;
                        });
                }

                &.first-sticks {
                    span:first-of-type {
                        position: sticky;
                        left: 0;
                        z-index: 5;

                        background-color: @white;
                    }
                }
            }

            &.nine-columns {
                .table-header {
                    display: flex;
                    align-items: center;
                }

                .table-header,
                .table-row,
                .table-summary {
                    display: grid;
                    grid-template-columns: repeat(9, 5.5rem);

                    width: max-content;

                    .viewport-wide-start-from(@viewport-regular; {
                            grid-template-columns: minmax(5.5rem, 1fr) repeat(8, 5.5rem);
                            width: 100%;
                        });
                }

                &.first-sticks {
                    span:first-of-type {
                        position: sticky;
                        left: 0;
                        z-index: 5;

                        background-color: @white;
                    }
                }
            }

            .table-header,
            .table-row,
            .table-summary {
                border: 1px solid @gray-lightest;
                border-block-start: 0;

                span {
                    padding-inline: @space-small;

                    &:not(:last-of-type) {
                        border-inline-end: 1px solid @gray-lightest;
                    }
                }
            }

            .table-header {
                position: sticky;
                top: 0;

                background-color: @white;
                font-weight: bold;
            }

            .table-content {
                font-size: @font-size-small-rem;
                max-height: 90%;
                overflow: auto;

                .table-row {
                    .transition(@transition-fast, background-color);

                    &:hover {
                        background-color: @background-secondary-lighter;
                    }

                    img {
                        width: 1rem;
                        height: auto;
                    }

                    .win {
                        display: flex;
                        align-items: center;
                        gap: @space-xSmall;

                        font-weight: bold;
                    }
                }
            }

            .table-summary {
                position: sticky;
                bottom: 0;

                border-block-start: 1px solid @gray-lightest;
                background-color: white;
                font-weight: bold;
            }
        }
    }
}