.branches-tabs() {
    .tabber__header {
        box-shadow: unset;
        margin-block-end: @space-small;

        nav.tabber__tabs {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            &::before {
                content: "הצגה מתוך:";
                font-size: @font-size-large-rem;
                font-weight: 700;
                margin-inline-end: @space-small;
            }

            a.tabber__tab {
                padding: @space-xSmall;

                &:not(:last-of-type) {
                    margin-inline-end: @space-regular;
                }

                .branch-tab-title {
                    display: flex;
                    align-items: center;
                    gap: @space-xSmall;

                    i {
                        border-radius: 50%;

                        &.football {
                            color: @text-primary;
                            background-color: @white;
                        }

                        &.basketball {
                            color: orange;
                            background-color: @white;
                        }

                        &.volleyball {
                            color: @text-secondary;
                            background-color: @background-primary;
                        }

                        &.handball {
                            background-color: @text-secondary;
                            color: @background-primary;
                        }
                    }
                }
            }

            a[aria-selected="true"] {
                border-radius: @border-radius-small-rem;
            }

            a:not([aria-selected="true"]):hover {
                color: @black;
            }
        }
    }
}

.responsive-tabs-reset() {
    padding: unset;
    margin: unset;
    box-shadow: unset;

    p {
        margin: 0;
    }

    ul {
        gap: @space-regular;

        margin: 0 auto;
        width: 20rem;

        .viewport-wide-start-from(751px; {
                margin: 0;
            });

        li {
            padding: 0;
        }
    }

    .slider {
        width: 10rem;

        .indicator {
            left: 5px;
            margin: 0 auto;
            max-width: 8rem;
        }
    }
}

.profile-tabs() {
    header.tabber__header {
        box-shadow: inset 0 -1px 0 0 @gray-lightest;
    }

    nav.tabber__tabs {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        line-height: 1.2;

        &::before {
            content: "נתונים כ:";
            font-weight: 500;
            margin: 0 @space-xSmall;
        }

        a.tabber__tab {
            padding-inline: @space-regular;
            padding-block: @space-xSmall;

            .transition(@transition-fast);

            &[aria-selected="true"] {
                background-color: @blue-regular;
                color: @white;
            }
        }
    }
}