.rich-tiles-list-container() {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    grid-auto-rows: 1fr;
    gap: @space-xLarge;

    padding: @space-regular 0;

    .viewport-wide-start-from(@viewport-regular; {
            grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
        });
}

.ritch-tile(@cellsCount: 3, @isProfileTile: false, @isRichInfoColumn: false) {
    position: relative;

    display: grid;
    grid-template-rows: 1fr auto auto;

    & when (@isProfileTile =true) {
        max-height: 15rem;

        .viewport-wide-start-from(@viewport-regular; {
                max-height: 17rem;
            });

        .viewport-wide-start-from(@viewport-large; {
                max-height: 19rem;
            });

        .viewport-wide-start-from(@viewport-xLarge; {
                max-height: 21rem;
            });
    }

    & when (@isProfileTile =false) {
        max-height: 15rem;
    }

    border-radius: @border-radius-regular-rem;
    border: 1px solid @gray-lightest;
    min-height: 13rem;
    overflow: hidden;
    .hover-bgc-and-box-shadow-change();

    a {
        .absolute-full-container-link();
    }

    .image-container {
        width: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;

            object-fit: cover;
            object-position: center;

            & when (@isProfileTile =true) {
                object-position: top;
            }
        }
    }

    .item-title {
        position: relative;

        background-color: @background-primary;
        color: @text-secondary;
        font-weight: bold;
        text-align: center;
        width: 100%;

        & when (@cellsCount > 0) {
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;

                width: 100%;
                height: 1px;
                background-color: @background-secondary-lighter;
            }
        }
    }

    .rich-info-container {
        display: grid;
        grid-template-columns: repeat(@cellsCount, 1fr);
        align-items: center;
        gap: @space-regular;

        width: 100%;

        & when (@isRichInfoColumn =true) {
            .flex-column();
            gap: @space-xSmall;
            align-items: unset;

            .description {
                display: none;
            }
        }

        .info-cell-container {
            position: relative;

            padding-inline: @space-xSmall;
            text-align: center;

            & when (@isRichInfoColumn =false) {
                &:not(:last-of-type)::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: -@space-regular;

                    width: 1px;
                    height: 100%;
                    background-color: @background-secondary-lighter;
                }
            }


            & when (@isRichInfoColumn =true) {
                &:not(:last-of-type)::after {
                    content: "";
                    position: absolute;
                    bottom: -@space-xSmall;
                    right: 0;
                    left: 0;

                    height: 1px;
                    background-color: @background-secondary-lighter;
                }
            }

            p {
                line-height: 1.2;
            }

            .number {
                font-weight: bold;
            }

            .description {
                font-size: @font-size-xSmall-rem;
            }
        }
    }
}

.small-tiles-list-container() {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    gap: @space-large;

    padding: @space-regular;
    margin-top: @space-regular;

    .viewport-wide-start-from(@viewport-regular; {
            grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
        });
}

.small-tile(@backgroundColor: @background-secondary-lighter) {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: @space-small;

    position: relative;

    border-radius: @border-radius-small-rem;
    border-radius: @border-radius-regular-rem;
    background-color: @background-primary;
    color: @white;
    padding: @space-small;
    .hover-bgc-and-box-shadow-change(@backgroundColor);

    a {
        .absolute-full-container-link();
    }

    .item-title {
        font-weight: bold;
    }

    .additional-text {
        font-size: @font-size-small-rem;
    }
}