.title-decorator(@decoratorColor: @background-contrast-regular, @textColor: @black, @bgColor: transparent) {
    background-color: @bgColor;
    color: @textColor;
    font-size: @font-size-large-rem;
    font-weight: bold;
    line-height: 1.6;
    padding-inline-end: @space-small;
    min-height: 1.8rem;

    &::before {
        float: left;
        content: "";
        background-color: @decoratorColor;
        margin-inline-end: @space-small;
        width: 5px;
        height: 1.8rem;
    }
}

.profile-banner-titles() {
    display: flex;
    align-items: center;
    gap: @space-small;

    font-size: @font-size-large-rem;
    font-weight: bold;
    width: 100%;

    .viewport-wide-up-to(@viewport-regular; {
            color: @text-emphasis;

            &::before {
                display: inline-block;
                content: "";
                background-color: @background-contrast-regular;
                width: 5px;
                height: 2rem;
            }

            i {
                display: none;
            }
        });

    .full-width-icon {
        flex-grow: 1;

        text-align: right;

        a {
            .flex-center-center();
            display: inline-flex;

            .circle-border-radius();
            border: 1px solid @blue-regular;
            background: none;
            background-color: @background-contrast-regular;
            color: @text-emphasis;
            font-size: @font-size-regular-rem;
            padding: @space-xSmall;
            margin-inline-end: @space-small;
            margin-block-start: @space-small;
            width: 1.5rem;
            height: 1.5rem;
            .transition(@transition-regular, background-color);

            &:hover {
                background-color: @white;
                text-decoration: none;
            }

            i {
                display: block;
            }
        }
    }
}