.app-header {
    position: fixed;
    top: 0;
    z-index: 1000;

    display: grid;
    grid-template-columns: @space-small 1fr @space-small;

    background-color: @background-primary;
    width: 100%;
    height: @app-header-height;

    .viewport-wide-start-from(@viewport-large; {
            grid-template-columns: minmax(@space-small, 1fr) minmax(auto, 1280px) minmax(@space-small, 1fr);
        });

    .content {
        grid-column: ~"2/3";

        display: grid;
        grid-template-columns: auto auto 1fr auto;
        align-items: center;

        .viewport-wide-start-from(@viewport-large; {
                grid-template-columns: auto 1fr auto;
            });

        .mobile-side-menu-trigger {
            .flex-center-center();

            cursor: pointer;
            color: @white;
            font-size: @font-size-large-rem;
            padding-inline-end: @space-regular;
            text-align: center;
            width: 2rem;
            height: 100%;
        }

        .homepage-navigation {
            background-color: @background-contrast-regular;
            padding-inline: @space-small;
            max-width: max-content;

            img {
                width: auto;
                height: @app-header-height;
            }
        }

        .navigation-section-container {
            position: absolute;
            top: @app-header-height;
            left: 0;

            width: 15rem;
            background-color: @background-primary;
            .transition(@transition-regular, height);
            
            &.active {
                height: calc(100vh - @app-header-height);
            }

            &:not(.active) {
                height: 0;
            }

            .viewport-wide-up-to(@viewport-large; {
                    overflow: auto;
                });

            .viewport-wide-start-from(@viewport-large; {
                    position: static;

                    display: flex;
                    justify-content: space-between;

                    width: 100%;
                    height: @app-header-height !important;
                });
        }

        .pages-navigation-container,
        .options-navigation-container {
            .viewport-wide-start-from(@viewport-large; {
                    display: flex;
                    align-items: center;
                });

            .dropdown-container {
                .viewport-wide-start-from(@viewport-large; {
                        display: flex;
                        align-items: center;

                        position: relative;

                        height: 100%;
                        .transition(@transition-regular, all);

                        &:hover {
                            background-color: @background-contrast-regular;

                            .dropdown-title {
                                color: @text-emphasis;
                            }

                            .dropdown-content {
                                max-height: 20rem;
                            }
                        }
                    });

                &.active {
                    .viewport-wide-up-to(@viewport-large; {
                            .dropdown-title {
                                .dropdown-indication {
                                    transform: rotateZ(180deg);
                                }
                            }

                            .dropdown-content {
                                max-height: 20rem;
                            }
                        });
                }

                .dropdown-title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    cursor: default;
                    color: @text-secondary;
                    font-size: @font-size-xLarge-rem;
                    font-weight: bold;
                    letter-spacing: 0.5px;
                    padding: @space-small @space-regular;

                    .viewport-wide-start-from(@viewport-large; {
                            color: @text-secondary;
                        });

                    .dropdown-indication {
                        font-size: @font-size-xSmall-rem;
                        .transition(@transition-regular, transform);
                    }

                    .option-icon {
                        font-size: @font-size-xSmall-rem;

                        .viewport-wide-start-from(@viewport-large; {
                                font-size: @font-size-xLarge-rem;
                            });
                    }
                }

                .dropdown-content {
                    .flex-column();

                    background-color: @white;
                    min-width: 100%;
                    width: max-content;
                    max-height: 0;
                    overflow: hidden;
                    .transition(@transition-regular, max-height);

                    .viewport-wide-start-from(@viewport-large; {
                            position: absolute;
                            top: @app-header-height;

                            box-shadow: @box-shadow-regular;
                        });

                    a {
                        color: @text-primary;
                        font-size: @font-size-large-rem;
                        padding: @space-small @space-regular;
                        .transition(@transition-regular, background-color);

                        &:hover {
                            background-color: @background-secondary-lighter;
                            text-decoration: none;
                        }

                        &:not(:last-of-type) {
                            border-block-end: 1px solid @gray-lightest;
                        }
                    }
                }
            }

            .navigation-link-block {
                position: relative;

                color: @text-secondary;
                font-size: @font-size-xLarge-rem;
                font-weight: bold;
                letter-spacing: 0.5px;
                .transition(@transition-regular, background-color);

                .viewport-wide-start-from(@viewport-large; {
                        display: flex;
                        align-items: center;

                        height: 100%;

                        &:hover {
                            background-color: @background-contrast-regular;

                            a {
                                color: @text-emphasis;
                            }
                        }
                    });

                a {
                    display: flex;

                    color: @text-secondary;
                    padding: @space-small @space-regular;
                    .transition(@transition-regular, color);

                    .viewport-wide-start-from(@viewport-large; {
                            display: block;
                        });

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        .pages-navigation-container {

            .dropdown-container,
            .navigation-link-block {
                border-block-end: 1px solid @gray-lightest;

                .viewport-wide-start-from(@viewport-large; {
                        border: 0;
                    });
            }
        }

        .options-navigation-container {
            .dropdown-container {
                &:not(:last-of-type) {
                    border-block-end: 1px solid @gray-lightest;
                }

                .viewport-wide-start-from(@viewport-large; {
                        border: 0 !important;
                    });

                .dropdown-title {
                    display: grid;
                    grid-template-columns: auto 1fr auto;
                    gap: @space-small;

                    .viewport-wide-start-from(@viewport-large; {
                            display: block;
                        });

                    .icon-link {
                        position: absolute;
                        inset: 0;
                    }
                }
            }
        }

        .search-container {
            display: block !important;

            justify-self: end;
            align-self: center;

            padding-inline-start: @space-small;
            max-width: 15rem;

            .viewport-wide-up-to(@viewport-large; {
                    width: 10rem;
                    .transition(@transition-regular, width);

                    &:focus-within {
                        width: 100%;
                    }
                });

            .search-content {
                border-block-end: 1px solid @yellow-regular;

                .text-field {
                    color: @white;
                    padding-inline-end: @space-xxLarge;
                    .transition(@transition-regular, opacity);

                    &::placeholder {
                        color: @white;
                        opacity: 0.7;
                    }

                    &:not(:focus) {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}