.maccabipedia-page-title {
    grid-row: ~"2/3";
    grid-column: ~"1/-1";

    display: grid;
    grid-template-columns: @space-small 1fr @space-small;

    background-color: @background-contrast-regular;

    .viewport-wide-start-from(@viewport-large; {
            grid-template-columns: minmax(@space-small, 1fr) minmax(auto, 1280px) minmax(@space-small, 1fr);
        });

    .content {
        grid-column: ~"2/3";

        color: @text-emphasis;
        font-size: @font-size-large-rem;
        font-weight: bold;
        text-align: center;

        .mw-page-title-separator {
            margin-inline-end: @space-xSmall;
        }
    }
}