.profile-list-branch-list-container.volleyball {
    padding-block-end: @space-xLarge;

    .intro-container {
        .season-players-container {
            .list {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
                grid-auto-rows: max-content;
                gap: @space-regular;

                .viewport-wide-start-from(@viewport-large; {
                        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
                        gap: @space-large @space-xLarge;
                    });
            }
        }
    }

    .stats-disclaimer {
        .disclaimer();
    }
}