.profile-category-page-container.volleyball {
    .header-container {
        .viewport-wide-start-from(@viewport-regular; {
                grid-template-columns: 1fr 1fr 10rem;
            });

        .header-decorator {
            display: none;

            .viewport-wide-start-from(@viewport-regular; {
                    display: block;

                    background-image: url("/skins/Maccabipedia/assets/images/volleyball-player-silhouette.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    opacity: 0.05;
                });
        }
    }

    .stats-disclaimer {
        .disclaimer();
    }
}