.season-details-page-container.volleyball {
    .roster-section-container {
        .viewport-wide-start-from(@viewport-large; {
                &.minimized {
                    grid-template-columns: 100%;
                    grid-template-rows: auto;

                    .players-section-container {
                        grid-column: ~"1/2";
                        grid-row: ~"1/2";
                    }
                }
            });

        .roster-image-container {
            grid-row: ~"2/3";

            &.full-size {
                grid-row: ~"1/3";
            }
        }

        .players-section-container {
            grid-row: ~"1/3";

            .players-list-container {
                .list {
                    .player-container {
                        .flex-column();
                        gap: @space-small;

                        .recognizer p {
                            display: flex;
                            align-items: center;
                            gap: @space-xxSmall;

                            border-block-end: 1px solid @blue-regular;
                            color: @text-emphasis;
                            margin: 0;

                            .number {
                                font-size: @font-size-small-rem;
                            }

                            .name {
                                .ellipsis();
                            }
                        }

                        .info {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            font-size: @font-size-small-rem;

                            p {
                                margin: 0;
                            }

                            .technical p {
                                display: flex;
                                gap: @space-large;

                                .age {
                                    position: relative;

                                    &::after {
                                        position: absolute;
                                        right: -0.3rem;

                                        content: "";
                                        background-color: @gray-lighter;
                                        width: 1px;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .records-container {
        .flex-column();
        gap: @space-large;

        .viewport-wide-start-from(@viewport-large; {
                display: grid;
                grid-template-columns: 1fr 25% 25%;
                gap: @space-xxLarge;

                &.minimized {
                    grid-template-columns: 1fr 1fr;
                }
            });

        .league-table-container,
        .records-appearances-container,
        .records-scorers-container {
            .title {
                .title-decorator(@background-contrast-regular, @white, @background-primary);
            }
        }
    }
}