.stadium-details-page-container.volleyball {
    .stats-disclaimer {
        .disclaimer();
    }

    .entity-profile {
        .banner-decorator-container {
            display: none;

            .viewport-wide-start-from(@viewport-large; {
                    display: block;
                    grid-column: ~"-1/-2";
                    grid-row: ~"1/2";

                    background-image: url("https://www.maccabipedia.co.il/skins/Metrolook/assets/images/volleyball-player-silhouette.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position-y: 50%;
                    margin: @space-small;
                    margin-inline-end: 0;
                    opacity: 0.05;
                });
        }
    }
}