.competition-details-page-container {
    .page-container();

    .disclaimer {
        .disclaimer();
    }

    .entity-profile {
        .collapsable-title(false);

        p {
            margin: 0;
        }

        .profile-container {
            .flex-column();
            gap: @space-regular;

            .viewport-wide-start-from(@viewport-small; {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: 1fr auto;

                    border-block-end: 1px solid @gray-lightest;
                });

            .viewport-wide-start-from(@viewport-regular; {
                    display: grid;
                    grid-template-columns: max-content repeat(3, 1fr);
                    gap: 0;
                });

            .image-container {

                .viewport-wide-start-from(@viewport-small; {
                        justify-self: baseline;
                    });

                img {
                    display: block;

                    margin: 0 auto;
                    width: 100%;
                    height: auto;
                    object-fit: cover;

                    .viewport-wide-start-from(@viewport-small; {
                            max-height: 15rem;
                            object-fit: contain
                        });

                    .viewport-wide-start-from(@viewport-regular; {
                            grid-row: ~"1/3";
                        });
                }
            }

            .banner-text-container {
                .viewport-wide-start-from(@viewport-regular; {
                        padding-inline-start: @space-regular;
                        border-inline-start: 1px solid @gray-lightest;
                    });

                .title {
                    .profile-banner-titles();
                }

                .content {
                    .flex-column();

                    .profile-info-description-section();

                    .list-info {
                        margin: 0;
                        padding-inline-start: @space-regular;

                        li {
                            display: flex;
                            align-items: center;
                            gap: @space-xxSmall;

                            margin: 0;

                            .small {
                                .before-after-parentheses();
                                font-size: @font-size-xSmall-rem;

                                span:nth-child(2) {
                                    margin-inline-start: @space-xSmall;
                                }
                            }
                        }
                    }
                }
            }

            .summary-container {
                background-color: @background-secondary-lighter;
                font-size: @font-size-small-rem;

                .viewport-wide-up-to(@viewport-small; {
                        display: flex;
                        gap: @space-xxSmall;

                        .title {
                            font-weight: bold;
                        }
                    });

                .viewport-wide-up-to(@viewport-regular; {
                        padding-inline: 0.3rem;
                    });

                .viewport-wide-start-from(@viewport-small; {
                        grid-column: ~"1/-1";

                        padding: 0 @space-regular;

                        .title {
                            display: none;
                        }
                    });
            }
        }
    }

    .games-records-container,
    .games-season-records-container {
        display: grid;
        gap: @space-large;

        .viewport-wide-start-from(@viewport-regular; {
                grid-template-columns: 1fr 1fr;
                grid-auto-rows: 1fr;
            });

        .section {
            .profile-additional-info-section();
        }
    }

    .records-list-container {
        .flex-column();
        gap: @space-regular;

        .viewport-wide-start-from(@viewport-regular; {
                display: grid;
                gap: @space-xLarge;
            });

        .record-container {
            .title {
                .title-decorator(@background-contrast-regular, @white, @background-primary);
            }
        }
    }
}