.imo-profile-page-container {
    .page-container();

    .imo-header-container {
        .flex-column();

        .imo-disclaimer-container {
            .flex-center-center();
            background-color: @text-primary;
            color: @white;
            font-size: @font-size-xxLarge-rem;
            font-family: 'Cooperative-Dirty';
            padding: @space-small;

            p {
                margin: 0;
            }

            img {
                width: 3rem;
                height: auto;
            }
        }

        .imo-banner-container {
            display: flex;
            gap: @space-xLarge;

            .banner-container();
            background-image: url("/skins/Maccabipedia/assets/images/imo/profile-banner.png");

            .viewport-wide-start-from(@viewport-regular; {
                    background-position: right center;
                });

            img {
                border-radius: @border-radius-small-rem;
                border: 1px solid @yellow-regular;
                width: 100px;
                height: 100%;
                object-fit: cover;

                .viewport-wide-start-from(@viewport-regular; {
                        width: 150px;
                    });
            }

            .imo-summary-text {
                color: @white;

                h2 {
                    border-bottom-color: @yellow-regular;
                    color: @text-secondary;
                    font-family: @typof-imo;
                    font-weight: bold;

                    &::after {
                        content: " ז\"ל";
                    }
                }

                .imo-summary-title {
                    font-weight: bold;

                    &::after {
                        content: ":";
                        margin-inline-end: @space-small;
                    }
                }
            }
        }
    }
}