.imo-list-page-container {
    .page-container();

    p {
        margin: 0;
    }

    .imo-banner-container {
        background-image: url("/skins/Maccabipedia/assets/images/imo/gallery-banner.png");

        h2 {
            border-bottom: 0;
            color: @white;
            font-size: @font-size-xxLarge-rem;
            font-family: @typof-imo;
            font-weight: bold;
            text-align: center;
            padding: @space-xLarge @space-regular;
            filter: drop-shadow(0 0 0.75rem @black);

            .imo-title-emphasis {
                color: @text-secondary;
            }
        }

        .imo-banner-buttons {
            font-size: @font-size-large-rem;
            font-weight: bold;
            letter-spacing: 0.5px;
            padding-block-end: @space-xLarge;
            text-align: center;

            p {
                .flex-center-center();
                gap: @space-xLarge;
            }
        }
    }

    .imo-gallery-container {
        .rich-tiles-list-container();

        .imo-list-item-container {
            .ritch-tile(0, true);
        }
    }
}