.index-page-container {
    .page-container();

    p {
        margin: 0;
    }

    .index-column-grid-section-container {
        display: grid;
        gap: @space-large;

        .viewport-wide-start-from(@viewport-regular; {
                &.two-columns {
                    grid-template-columns: 1fr 1fr;
                }

                &.three-columns {
                    grid-template-columns: repeat(3, 1fr);
                }
            });

        .title {
            .title-decorator(@background-contrast-regular, @white, @background-primary);
        }

        .external-links-list-container {
            .external-link-chips-section();

            .item {
                .external-link-chip-item();
            }
        }
    }

    .index-categories-section-container {
        .content {
            margin-block-start: @space-small;

            .categories-list-container {
                display: grid;
                grid-template-columns: repeat(3, 7rem);
                justify-content: center;
                gap: @space-regular;
            }

            .item-container {
                position: relative;
                text-align: center;

                a {
                    .absolute-full-container-link();
                }

                img {
                    max-width: 5rem;
                    height: auto;
                }

                .page-count {
                    font-weight: bold;
                    .before-after-parentheses();
                }
            }
        }
    }

    .index-last-seasons-section-container {
        .last-seasons-list-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 1fr;
            gap: @space-xLarge;

            padding-block-end: @space-regular;

            .viewport-wide-start-from(@viewport-regular; {
                    grid-template-columns: repeat(3, 1fr);
                });

            .season-container {
                .season-list-chips-item();

                .viewport-wide-start-from(@viewport-regular; {
                        line-height: 2.4;
                    });
            }
        }
    }

    .index-last-games-section-container {
        .last-games-list-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 1fr;
            gap: @space-regular;

            padding-block-end: @space-regular;

            .viewport-wide-start-from(@viewport-regular; {
                    grid-template-columns: repeat(3, 1fr);
                    gap: @space-xLarge;
                });

            .game-container {
                position: relative;

                display: grid;
                grid-template-columns: 1fr auto auto;
                grid-template-rows: auto auto;
                gap: 0 @space-xSmall;

                border-radius: @border-radius-regular-rem;
                border: 1px solid @gray-lightest;
                padding: @space-small;
                line-height: 1.75rem;
                overflow: hidden;
                .hover-bgc-and-box-shadow-change();

                &.bold {
                    font-weight: bold;
                }

                a {
                    .absolute-full-container-link();
                }

                .date {
                    grid-column: ~"1/-1";
                    grid-row: ~"1/2";

                    font-size: @font-size-xxSmall-rem;
                    line-height: 1;
                    text-align: end;
                }

                .result-indicator {
                    position: absolute;
                    top: 0;
                    left: 0;

                    width: 0.3rem;
                    height: 100%;

                    &.win {
                        background-color: @background-contrast-regular;
                    }

                    &.loose {
                        background-color: @background-primary-darker;
                    }

                    &.tie {
                        background-color: @background-secondary-lighter;
                    }
                }

                .opponent {
                    padding-inline-start: @space-xSmall;
                    .ellipsis();
                }

                .home-away {
                    font-size: @font-size-small-rem;
                    .before-after-parentheses();
                }

                .result {
                    font-size: @font-size-small-rem;

                    .result-disclaimer {
                        padding-inline-start: @space-xxSmall;
                        .before-after-parentheses();
                    }
                }
            }
        }
    }

    .index-collections-navigation-section-container,
    .index-categories-navigation-section-container {
        display: grid;
        grid-template-rows: auto 1fr;

        .content {
            padding-block-start: @space-small;

            .list-container {
                .index-navigation-chip-list-container();
            }
        }
    }

    .index-categories-navigation-section-container .item-container {
        .index-navigation-chip-item(true);
    }

    .index-collections-navigation-section-container .item-container {
        .index-navigation-chip-item();
    }

    .index-calendar-section-container {
        .disclaimer {
            .disclaimer();
        }
    }

    .index-birthday-section-container {
        .birthday-list-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
            grid-auto-rows: 1fr;
            gap: @space-regular;

            padding-block-end: @space-regular;

            .index-birthday-item-container {
                position: relative;

                display: grid;
                grid-template-rows: auto 1fr;

                border: 1px solid @gray-lightest;
                border-radius: @border-radius-regular-rem;
                overflow: hidden;

                .hover-bgc-and-box-shadow-change(transparent);

                a {
                    .absolute-full-container-link();
                }

                .name {
                    background-color: @background-contrast-regular;
                    color: @text-emphasis;
                    font-weight: bold;
                    text-align: center;
                    padding: 0 @space-xSmall;

                    .ellipsis();
                }

                .image-container {
                    position: relative;
                    z-index: -1;

                    p {
                        height: 100%;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        max-height: 10rem;
                        object-fit: cover;
                        object-position: top;
                    }

                    .age {
                        position: absolute;
                        top: 0;
                        right: -1rem;

                        background-color: @background-primary;
                        color: @text-secondary;
                        font-size: @font-size-small-rem;
                        font-weight: bold;
                        text-align: center;
                        width: 4rem;
                        transform: rotate(320deg);
                    }
                }
            }
        }
    }

    .index-quote-section-container {
        .content {
            .flex-column();
            gap: @space-small;

            .viewport-wide-start-from(@viewport-regular; {
                    display: grid;
                    grid-template-columns: 1fr minmax(auto, 33%);
                    grid-template-rows: auto 1fr;
                    gap: @space-regular;
                    justify-content: center;
                });

            .quote-container {
                font-size: @font-size-large-rem;
                letter-spacing: 0.5px;
                text-align: center;

                .viewport-wide-start-from(@viewport-regular; {
                        grid-column: ~"1/2";
                        grid-row: ~"1/2";
                    });

                i {
                    color: @text-emphasis;

                    &:first-of-type {
                        padding-inline-end: @space-small;
                    }

                    &:last-of-type {
                        padding-inline-start: @space-small;
                    }
                }
            }

            .quote-context {
                font-size: @font-size-small-rem;
                text-align: center;

                .viewport-wide-start-from(@viewport-regular; {
                        grid-column: ~"1/2";
                        grid-row: ~"2/3";
                        align-self: self-start;
                    });
            }

            .image-container {
                text-align: center;

                img {
                    border-radius: @border-radius-regular-rem;
                    border: 1px solid @gray-lightest;
                    max-width: 250px;
                    height: auto;
                }

                .viewport-wide-start-from(@viewport-regular; {
                        grid-column: ~"2/3";
                        grid-row: ~"1/-1";

                        img {
                            margin-block-start: @space-small;
                            width: 100%;
                            object-fit: cover;
                        }
                    });
            }
        }
    }

    .index-recommend-article-section-container {
        display: grid;
        grid-template-rows: auto 1fr;

        .content {
            display: grid;
            grid-template-rows: auto 1fr;
            gap: @space-small;

            padding-block-start: @space-small;

            .info-container {
                .image-container {
                    float: left;
                    padding-inline-end: @space-small;

                    img {
                        border-radius: @border-radius-regular-rem;
                        width: 10rem;
                        height: 10rem;
                        object-fit: cover;
                    }
                }

                .text {
                    font-size: @font-size-small-rem;
                }
            }

            .cta-container {
                margin-block-start: @space-small;

                a {
                    border-radius: @border-radius-regular-rem;
                    border: 1px solid @gray-lightest;
                    color: @text-emphasis;
                    font-size: @font-size-small-rem;
                    font-weight: bold;
                    padding: @space-small;
                    margin-block-start: @space-small;
                    max-width: 9rem;
                    min-width: min-content;
                    .hover-bgc-and-box-shadow-change();

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .index-image-section-container {
        display: grid;
        grid-template-rows: auto 1fr;

        .content {
            display: grid;
            grid-template-rows: auto 1fr;

            .image-container {
                text-align: center;
                padding-block: @space-regular;

                img {
                    border-radius: @border-radius-regular-rem;
                    width: auto;
                    height: 100%;
                    max-width: 100%;
                    max-height: 15rem;
                    object-fit: cover;
                }
            }

            .text {
                border-block-start: 1px solid @gray-lightest;
                font-size: @font-size-small-rem;
            }
        }
    }

    .index-follow-us-section-container {
        .external-links-list-container {
            .icon {
                position: relative;

                i:not(.fa-plus) {
                    padding-inline: @space-regular;
                }

                .fa-plus {
                    position: absolute;
                    bottom: -0.3rem;
                    left: -0.3rem;

                    border-radius: 50%;
                    background-color: @background-contrast-regular;
                    color: @text-emphasis;
                    font-size: @font-size-xxSmall-rem;
                    padding: @space-xxSmall;
                }
            }
        }
    }

    .index-follow-us-section-container,
    .index-contact-us-section-container,
    .index-donation-section-container {
        display: grid;
        grid-template-rows: auto 1fr;

        .content {
            display: grid;
            grid-template-rows: auto 1fr;

            .text {
                font-size: @font-size-small-rem;

                .emphasis {
                    color: @text-emphasis;
                    font-weight: bold;
                }
            }

            .external-links-list-container,
            .atom-contact-us {
                align-self: end;
            }
        }
    }
}