.profile-details-page-container {
    .page-container();

    .entity-profile {
        .profile-banner-container();

        .profile-container {
            p {
                margin: 0;
            }

            .image-container {
                .profile-banner-image-container();
            }

            .text-section {
                .viewport-wide-start-from(@viewport-regular; {
                        grid-row: ~"1/2";

                        padding-inline-start: @space-regular;

                        &.with-border {
                            border-inline-end: 1px solid @gray-lightest;
                        }
                    });

                .title {
                    .profile-banner-titles();
                }

                .text {
                    .profile-info-description-section();

                    .prop-icon-container p {
                        display: flex;
                        gap: @space-xSmall;

                        img {
                            border-radius: 50%;
                            background-color: @background-primary;
                            padding: 2px;
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                    }
                }
            }

            .profile-banner-summary {
                .profile-banner-summary();
            }
        }
    }

    .profile-additional-container {
        .profile-additional-info-container();
    }

    .profile-additional-content-container {
        display: grid;
        gap: @space-large;

        .viewport-wide-start-from(@viewport-regular; {
                grid-template-columns: 1fr 1fr;
                grid-auto-rows: 1fr;

                &.one-column {
                    grid-template-columns: 1fr;
                }

                &.first-column-shrink {
                    grid-template-columns: 1fr 2fr;
                }

                &.dynamic-width-columns {
                    grid-template-columns: repeat(2, auto);

                    .section .content.thropies-win-list,
                    .section .content.suggest-games-list {
                        grid-auto-flow: row;
                        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
                    }
                }
            });

        .section {
            .profile-additional-info-section();

            &.full-height {
                display: grid;
                grid-template-rows: auto 1fr;
                grid-template-columns: 1fr;

                max-height: unset;
                height: 100%;
            }

            &.non-max-height {
                max-height: unset;
                height: max-content;
            }
        }
    }

    .gallery-container {
        .responsive-mw-gallery-container();
    }
}

.profile-tabber-chips-container {
    .profile-tabs();
}