.profile-category-page-container {
    .page-container();

    .header-container {
        display: grid;
        gap: @space-large;

        .viewport-wide-start-from(@viewport-regular; {
                gap: @space-xLarge;
            });

        .title {
            .title-decorator(@background-contrast-regular, @white, @background-primary);
        }
    }
}