.common-search-page-container {
    .page-container();

    .simple-styled-paragraph h3 {
        margin-block-end: @space-regular;
    }

    .common-search-item-container {
        .title {
            font-weight: bold;
        }
    }

    .common-search-regular-section-container {
        .flex-column();
        gap: @space-regular;

        .viewport-wide-start-from(@viewport-regular; {
                flex-direction: row;
                flex-wrap: wrap;

                > * {
                    flex-basis: 35%;
                }
            });

        >*.full-width {
            flex-basis: 100%;
        }

        .common-search-item-date-container {
            display: flex;
            align-items: center;
            gap: @space-small;

            .title {
                flex-shrink: 0;
                width: 100%;
                max-width: 7rem;
            }

            .picker {
                width: 100%;
                max-width: 10rem;
            }
        }

        .common-search-dropdown-container {
            display: flex;
            align-items: center;
            gap: @space-small;

            .title {
                flex-shrink: 0;
                width: 100%;
                max-width: 7rem;
            }

            .picker {
                width: 100%;
                max-width: 10rem;

                .comboboxSpan {
                    display: block;
                    width: 100%;

                    .oo-ui-comboBoxInputWidget-field {
                        max-width: 10rem;

                        input {
                            padding: 5px @space-regular;
                        }
                    }

                    .oo-ui-decoratedOptionWidget {
                        padding: 5px @space-regular;
                    }

                    .oo-ui-inputWidget {
                        max-width: 10rem;
                    }
                }
            }
        }

        .common-search-radio-container {
            display: flex;
        }

        .common-search-item-result-container {
            display: grid;
            align-items: center;
            grid-template-columns: 7.5rem auto 1fr;
            gap: @space-small @space-regular;

            input.createboxInput {
                max-width: 3rem !important;
            }
        }
    }

    .common-search-checkbox-section-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
        gap: @space-regular;

        .common-search-checkbox-container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            gap: @space-regular;
        }
    }
}


.oo-ui-defaultOverlay {
    .mw-widget-calendarWidget {
        width: 19rem;

        a.oo-ui-buttonElement-button {
            width: 75%;
        }

        .mw-widget-calendarWidget-body {
            width: 19rem;
        }
    }

    .mw-widget-calendarWidget-day-heading,
    .mw-widget-calendarWidget-day {
        max-width: 2rem !important;
    }
}

.oo-ui-widget.oo-ui-menuSelectWidget {
    max-height: 10rem !important;
    overflow: scroll;
}

.picker {
    span.comboboxSpan {
        position: relative;
        top: -2px;

        .oo-ui-comboBoxInputWidget-field {
            display: flex;
            align-items: center;

            input {
                height: 1.4rem;
            }

            a {
                padding-block: 10px !important;
                min-height: unset;

                .oo-ui-indicatorElement-indicator {
                    left: 30%;
                }
            }
        }
    }

    select.createboxInput,
    input.createboxInput {
        padding: 2px 5px !important;
    }
}

.oo-ui-textInputWidget .mw-widget-dateInputWidget-handle {
    padding-block: 2px;
}