.shirts-history-page-container {
    .page-container();
    padding-block-end: @space-regular;

    .shirts-history-list-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
        grid-auto-rows: 1fr;
        gap: @space-regular;

        .viewport-wide-start-from(@viewport-small; {
                grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
                grid-auto-rows: 1fr;
            });

        .shirts-history-item-container {
            display: grid;
            grid-template-columns: 4rem 1fr;
            grid-template-rows: auto 1fr;
            gap: @space-small;

            border-radius: @border-radius-regular-rem;
            border: 1px solid @gray-lightest;
            overflow: hidden;

            .season {
                grid-column: ~"1/-1";
                grid-row: ~"1/2";

                border-block-end: 1px solid @gray-lightest;
                background-color: @background-primary;
                color: @text-secondary;
                font-size: @font-size-large-rem;
                font-weight: bold;
                text-align: center;
                padding-inline: @space-small;

                a {
                    display: block;
                    color: @text-secondary;
                }
            }

            .image-container {
                grid-column: ~"1/2";
                grid-row: ~"2/-1";

                padding-inline: @space-small;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                    .viewport-wide-start-from(@viewport-small; {
                            object-fit: cover;
                        });
                }
            }

            .profile-list {
                .profile-info-description-section();

                p {
                    margin: 0;
                }
            }
        }
    }
}