.songs-list-page-container {
    .page-container();
    overflow-x: hidden;

    .disclaimer {
        .disclaimer();
    }

    .simple-styled-paragraph:first-of-type {
        background-color: @black;
        margin-block-end: @space-regular;
    }

    .songs-lists-container {
        .flex-column();
        gap: @space-xxLarge;

        .list-container {
            .flex-column();
            gap: @space-small;

            position: relative;

            .viewport-wide-start-from(@viewport-regular; {
                    &.scrolled {
                        &:hover {
                            .list-scroller-prev {
                                color: @white;
                                background-color: @black;
                                padding: @space-small;

                                i {
                                    max-width: 2rem;
                                    max-height: 2rem;
                                }
                            }
                        }
                    }

                    &:not(.scrolled) {
                        &:hover {
                            .list-scroller-next {
                                color: @white;
                                background-color: @black;
                                padding: @space-small;

                                i {
                                    max-width: 2rem;
                                    max-height: 2rem;
                                }
                            }
                        }
                    }

                    &:hover {
                        .link-description {
                            max-width: 10rem !important;
                        }
                    }
                });

            .error {
                display: none;
            }

            .plain-title {
                color: @text-emphasis;
                font-size: @font-size-xLarge-rem;
                font-weight: bold;
                letter-spacing: 0.5px;
            }

            .title-wrapper {
                a {
                    display: flex;
                    align-items: center;
                    gap: @space-small;

                    line-height: 1.2;

                    .viewport-wide-start-from(@viewport-regular; {
                            width: max-content;
                        });

                    &:hover {
                        text-decoration: none;
                    }

                    .category-name {
                        color: @text-emphasis;
                        font-size: @font-size-xLarge-rem;
                        font-weight: bold;
                        letter-spacing: 0.5px;

                        .viewport-wide-up-to(@viewport-small; {
                                flex-grow: 1;
                            });
                    }

                    .link-description {
                        color: @text-emphasis;

                        .viewport-wide-start-from(@viewport-regular; {
                                max-width: 0;
                                overflow: hidden;
                                white-space: nowrap;
                                .transition(@transition-regular, max-width);
                            });
                    }

                    i {
                        position: relative;
                        top: 1px;

                        color: @text-emphasis;
                        font-size: @font-size-xxSmall-rem;
                    }
                }
            }

            .list-scroller-prev,
            .list-scroller-next {
                display: none;

                position: absolute;
                top: 50%;
                z-index: 10;

                cursor: pointer;
                color: transparent;
                font-size: @font-size-xLarge-rem;
                .transition(@transition-fast, all);

                .viewport-wide-start-from(@viewport-regular; {
                        display: block;
                    });

                i {
                    max-width: 0;
                    max-height: 0;
                    .transition(@transition-fast, all);
                }
            }

            .list-scroller-prev {
                left: 0;
            }

            .list-scroller-next {
                right: 0;
            }

            .list {
                display: flex;
                gap: @space-regular;

                .transition(@transition-regular, transform);

                .viewport-wide-up-to(@viewport-regular; {
                        overflow-x: auto;
                    });

                .viewport-wide-start-from(@viewport-regular; {
                        scrollbar-width: none;
                    });

                .song-page-list-item {
                    position: relative;

                    display: grid;
                    grid-template-rows: auto 1fr;

                    border-radius: @border-radius-regular-rem;
                    min-width: 9rem;
                    height: 8.5rem;
                    overflow: hidden;
                    .hover-bgc-and-box-shadow-change(transparent);

                    &>a {
                        .absolute-full-container-link();
                    }

                    .fake-background {
                        position: absolute;
                        inset: 0;
                        z-index: -1;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .tags-container {
                        direction: rtl;

                        display: flex;
                        gap: @space-small;
                        flex-wrap: wrap;

                        padding: @space-small;

                        .tag {
                            border-radius: @border-radius-small-rem;
                            border: 1px solid @white;
                            background-color: @black;
                            color: @white;
                            font-size: @font-size-xSmall-rem;
                            font-weight: bold;
                            padding: @space-xxSmall @space-xSmall;
                        }
                    }

                    .song-name {
                        align-self: flex-end;
                        background: @background-primary;
                        color: @text-secondary;
                        font-weight: bold;
                        padding: @space-xSmall @space-small;
                        width: 100%;
                        .ellipsis();
                    }
                }
            }
        }
    }
}