.stadium-details-page-container {
    .page-container();

    p {
        margin: 0;
    }

    .names-disclaimer {
        .disclaimer();
    }

    .entity-profile {
        .profile-banner-container();

        .stadium-banner-image-container {
            .profile-banner-image-container();
            padding-block-start: 0;
        }

        .profile-container {
            .viewport-wide-start-from(@viewport-large; {
                    grid-template-columns: auto repeat(3, 20%) 1fr;
                    grid-template-rows: 1fr auto;
                });
        }

        .banner-text-section {
            .viewport-wide-start-from(@viewport-regular; {
                    grid-row: ~"1/2";

                    padding-inline-start: @space-regular;

                    &.with-border {
                        border-inline-end: 1px solid @gray-lightest;
                    }

                    .list-property {
                        display: flex;
                        gap: @space-small;
                    }
                });

            .title {
                .profile-banner-titles();
            }

            .text {
                .profile-info-description-section();
            }
        }

        .banner-summary {
            .profile-banner-summary();
        }
    }

    .details-records-lists-container {
        .flex-column();
        gap: @space-regular;

        .viewport-wide-start-from(@viewport-small; {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: @space-xLarge;
            });
    }

    .games-records-container {
        display: grid;
        gap: @space-large;

        .viewport-wide-start-from(@viewport-regular; {
                grid-template-columns: 1fr 1fr;
                grid-auto-rows: 1fr;
            });

        .section {
            .profile-additional-info-section();
        }
    }
}