.season-details-page-container.football {
    .roster-section-container {
        .players-section-container {
            grid-row: ~"1/4";

            .players-list-container {
                .list {
                    .player-container {
                        display: flex;
                        align-items: center;
                        gap: @space-small;

                        .name {
                            flex-grow: 1;

                            .ellipsis();
                            color: @text-emphasis;

                            .number {
                                font-size: @font-size-xSmall-rem;
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
        }
    }

    .players-records-container {
        .flex-column();
        gap: @space-regular;

        .viewport-wide-start-from(@viewport-regular; {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: @space-xLarge;
            });
    }
}