.stadium-details-page-container.football {
    .details-records-lists-container {
        .viewport-wide-start-from(@viewport-large; {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: @space-xLarge;
            });

        .record-section-container {
            .title {
                .title-decorator(@background-contrast-regular, @white, @background-primary);
            }
        }
    }
}