.game-details-page-container.basketball {
    .banner-decoration {
        position: absolute !important;
        inset: 0;

        background-image: url("https://www.maccabipedia.co.il/skins/Metrolook/assets/images/games-banners/basketball.png");
        background-repeat: no-repeat;
        background-size: 15%;

        &.left {
            left: -100;
            background-position: center left;
        }

        &.right {
            right: -100;
            background-position: center right;
        }
    }

    .desktop-game-teams-statistic {
        flex-direction: column;
    }

    .details-team-statistic {
        .viewport-wide-up-to(@viewport-large; {
                display: grid;

                .coach-container {
                    justify-content: flex-start;

                    .content {
                        position: sticky;
                        left: @space-small;

                        padding-inline-start: @space-small;
                    }
                }
            });

        >.title {
            border-block-end: 1px solid @gray-lightest;
            background-color: @gray-lighter;
            font-weight: bold;
            padding-block: @space-xSmall;

            .mobile-sticky {
                position: sticky;
                left: 0;

                padding-inline: @space-regular;
            }
        }
    }

    .team-info-head {
        align-items: end !important;

        padding: 0 !important;

        &>*:not(:last-child) {
            border-inline-end: 1px solid @gray-lightest;

            &:first-of-type {
                border-inline-start: 1px solid @gray-lightest;
            }
        }

        .mobile-sticky {
            border-block-start: 0 !important;
            border-inline-end: 0 !important;
        }

        .title {
            text-align: center;

            &:not(.two-rows) {
                border-block: 1px solid @gray-lightest;
            }

            .viewport-wide-start-from(@viewport-large; {
                    &:span(.two-rows) {
                        line-height: 1.3;
                    }
                });
        }
    }

    .player-row-container {
        display: grid;

        padding-inline: 0 !important;

        span {
            height: 100%;
        }

        &:not(.name) {
            text-align: center;
        }

        >*:not(.no-border-data),
        span:not(.no-border-data) {
            border-inline-end: 1px solid @gray-lightest;
        }

        .name {
            align-items: baseline !important;

            border-inline-end: 1px solid @gray-lightest;
            padding-inline-start: @space-regular;

            .small {
                width: 1rem;
            }
        }
    }

    .team-stat-sum {
        border-block-end: 1px solid @gray-lightest;
        background-color: @white;
        padding-inline: 0 !important;

        >*:not(.mobile-sticky) {
            text-align: center;
        }

        span:not(.no-border-data) {
            border-inline-end: 1px solid @gray-lightest;
        }

        .mobile-sticky {
            display: block !important;

            position: sticky;
            left: 0;

            background-color: @white !important;
            border-inline-end: 1px solid @gray-lightest;

            span.content {
                border: 0 !important;
                padding-inline-start: @space-regular;
            }
        }

        .spacer {
            height: 100%;
        }

        .two-columns-stat {
            display: grid;
            grid-template-columns: 1fr 3rem;
        }

        .three-columns-stat {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .team-info-head,
    .player-row-container,
    .team-stat-sum {
        grid-template-columns: 12rem 3rem 4rem repeat(3, 7.5rem) 8.5rem repeat(5, 3rem);

        .viewport-wide-start-from(@viewport-large; {
                grid-template-columns: 1fr repeat(2, 3.5rem) repeat(3, 7rem) 10.5rem repeat(5, 3.5rem);
            });

        .mobile-sticky {
            display: grid;
            grid-template-rows: 1fr 1fr;

            &.no-border .content {
                border: 0 !important;
            }

            .content {
                border-block-start: 1px solid @gray-lightest !important;
                border-inline-end: 1px solid @gray-lightest !important;
            }
        }
    }
}