.profile-list-branch-list-container.basketball {
    .intro-container {
        .records-section-container {
            .flex-column();
            gap: @space-regular;

            .title {
                .title-decorator(@background-contrast-regular, @white, @background-primary);
            }
        }
    }

    .season-players-container {
        .list {
            .flex-column();
            gap: @space-regular;

            .list-title {
                font-weight: bold;
            }

            .list-container {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
                grid-auto-rows: 1fr;
                gap: @space-regular;

                .viewport-wide-start-from(@viewport-regular; {
                        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
                        gap: @space-large @space-xLarge;
                    });
            }
        }
    }
}