.game-details-page-container.volleyball {
    .team-info-head {
        background-color: @gray-lighter !important;
    }

    .team-info-head,
    .player-row-container {
        grid-template-columns: 1.5rem minmax(auto, 1fr) 2rem;

        .title:nth-child(n+3) {
            justify-self: center;
        }
    }
}