.ref-details-page-container.volleyball {
    .banner-container {
        .viewport-wide-start-from(@viewport-regular; {
                grid-template-columns: repeat(6, 1fr);
            });

        .banner-summary-container {
            grid-column: span 2;
        }

        .records-list-tabs-container {
            grid-column: span 2;
        }
    }
}