.profile-details-page-container.football {
    .profile-container {
        grid-template-columns: 40% 1fr;

        .viewport-wide-up-to(@viewport-regular; {
                grid-template-columns: 40% 1fr;
                grid-template-rows: repeat(5, auto);

                .image-container {
                    grid-column: ~"1/2";
                    grid-row: ~"1/3";
                }

                .text-section:not(.full-width) {
                    grid-column: ~"2/3";
                }

                .text-section.full-width {
                    grid-row: ~"3/4";
                    grid-column: ~"1/3";
                }
            });

        .viewport-wide-start-from(@viewport-regular; {
                &.no-stats-column {
                    grid-template-columns: max-content repeat(2, 1fr);
                }
            });

        .viewport-wide-start-from(@viewport-large; {
                &:not(.no-stats-column) {
                    grid-template-columns: minmax(auto, 15rem) repeat(2, 25%) 1fr !important;
                }
            });

        .slim-tabs {
            min-width: unset;
            width: 100%;

            >ul {
                gap: @space-xSmall;

                li {
                    padding: 0;
                    width: 20%;

                    label {
                        padding: 0;
                    }
                }
            }
        }

        .text.two-column {
            column-count: 2;
            column-gap: @space-xSmall;

            p {
                break-inside: avoid;
            }
        }
    }
}