.branches-tabs-container {
    .branches-tabs();
}


.mobile-only {
    .viewport-wide-start-from(@viewport-large; {
            display: none !important;
        });
}

.desktop-only {
    display: none !important;

    .viewport-wide-start-from(@viewport-large; {
            display: block !important;
        });
}