@import 'mediawiki.ui/variables';


@font-family-serif: 'Assistant', 'Georgia', 'Times', serif;
@font-family-sans-serif: 'Assistant';

@content-font-family: @font-family-sans-serif;
@content-font-color: #252525;
@content-font-size: 0.875em;
@content-line-height: 1.6;
@content-heading-font-size: 1.8em;
@content-heading-font-family: @font-family-serif;
@content-heading-font-family-generic: @font-family-serif;
@body-background-color: #fff;
@heading-line-height: 1.3;