/* Search */

@import "mediawiki.mixins";
@import 'mediawiki.ui/variables';

#simpleSearch {
	position: relative;

	input {
		border: 0;
		background-color: transparent;
	}

	#searchInput {
		&:focus {
			outline: none;
		}
	}

	#searchButton,
	#mw-searchButton {
		position: absolute;
		top: 0;
		right: 0;
		width: 1.65em;
		height: 100%;
		cursor: pointer;
		text-indent: -99999px;
	}

	#searchButton {
		background-image: url(images/search-rtl.svg );
		background-position: center center;
		background-repeat: no-repeat;
	}

	#mw-searchButton {
		z-index: 1;
	}
}