footer {
    grid-row: ~"-2/-1";
    grid-column: ~"1/-1";

    .about-maccabipedia {
        display: grid;
        grid-template-columns: @space-small 1fr @space-small;

        background-color: @background-primary;
        padding-block: @space-small;

        .viewport-wide-start-from(@viewport-large; {
                grid-template-columns: minmax(@space-small, 1fr) minmax(auto, 1280px) minmax(@space-small, 1fr);
            });

        .content {
            grid-column: ~"2/3";

            .flex-center-center(true);
            gap: @space-xSmall;

            .usefull-links {
                display: flex;
                gap: @space-large;

                a {
                    color: @white;
                    font-weight: bold;
                    letter-spacing: 1px;
                    .transition(@transition-regular, color);

                    &:hover {
                        color: @text-secondary;
                        text-decoration: none;
                    }

                    &:not(:last-of-type)::after {
                        position: relative;
                        left: calc(@space-large / 2);

                        content: "";
                        border-inline-end: 1px solid @yellow;
                    }
                }
            }

            .social-networks {
                .flex-center-center(true);
                gap: @space-xSmall;

                position: relative;

                &::before {
                    position: absolute;
                    top: 25%;
                    right: -50%;

                    content: "";
                    background-color: @background-contrast-regular;
                    height: 1px;
                    width: 200%;
                }

                .title {
                    position: relative;
                    z-index: 5;

                    background-color: @background-primary;
                    color: @text-secondary;
                    font-size: @font-size-xLarge-rem;
                    font-weight: bold;
                    padding-inline: @space-xxLarge;
                }

                .links-container {
                    display: flex;
                    gap: @space-large;

                    a {
                        color: @white;
                        font-size: @font-size-large-rem;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    .credits {
        display: grid;
        grid-template-columns: @space-small 1fr @space-small;

        background-color: @background-primary-darker;
        padding-block: @space-small;

        .viewport-wide-start-from(@viewport-large; {
                grid-template-columns: minmax(@space-small, 1fr) minmax(auto, 1280px) minmax(@space-small, 1fr);
            });

        .content {
            grid-column: ~"2/3";

            .flex-center-center(true);
            gap: @space-xSmall;

            color: @white;

            .all-rights-reserved {
                font-size: @font-size-small-rem;
                font-weight: bold;
            }
        }
    }
}