.page-overlay {
    position: fixed;
    inset: 0;
    z-index: 150;

    backdrop-filter: blur(10px);
    height: 0;
    .transition(@transition-regular, height);

    &.active {
        height: 100vh;

        &.cover-menu {
            z-index: 5000;
        }
    }
}