html,
body {
    padding: 0;
    margin: 0;

    * {
        box-sizing: border-box
    }
}

.maccabipedia-site-container {
    display: grid;
    grid-template-rows: 40px auto 1fr auto;

    min-height: 100dvh;

    .viewport-wide-start-from(@viewport-large; {
            grid-template-columns: minmax(@space-small, 1fr) minmax(auto, 1280px) minmax(@space-small, 1fr);
        });

    main {
        grid-row: ~"3/4";

        margin-block-end: @space-regular;
        overflow-x: auto;

        .viewport-wide-up-to(@viewport-large; {
                padding: 0 @space-small;
            });

        .viewport-wide-start-from(@viewport-large; {
                grid-column:~"2/3";
            });
    }
}