<div class="mw-page-container">
	<header class="mw-header">
		{{{html-title-heading}}}
	</header>

	<main class="mw-body" role="main">
		<div class="mw-body-content">
			{{{html-body-content}}}
		</div>
	</main>

	<aside class="mw-portlets">
		{{#data-portlets-sidebar.data-portlets-first}}
			<nav class="mw-portlet" id="{{id}}">
				<h3>{{label}}</h3>
				<div class="mw-portlet-body">{{{html-items}}}</div>
			</nav>
		{{/data-portlets-sidebar.data-portlets-first}}
		{{#data-portlets-sidebar.array-portlets-rest}}
			<nav class="mw-portlet" id="{{id}}">
				<h3>{{label}}</h3>
				<div class="mw-portlet-body">{{{html-items}}}</div>
			</nav>
		{{/data-portlets-sidebar.array-portlets-rest}}
	</aside>

	<footer class="mw-footer" role="contentinfo">
		{{#data-footer.array-items}}
			<ul class="footer-{{name}}">{{{html-items}}}</ul>
		{{/data-footer.array-items}}
	</footer>
</div>
