<div class="maccabipedia-site-container">
	<div class="page-overlay"></div>

	{{{html-app-header}}}

	<div class="maccabipedia-page-title">
		<div class="content">
			{{{html-title-heading}}}
		</div>
	</div>

	<main>
		<a id="top"></a>
		{{{html-prebodyhtml}}}
		<div id="bodyContent" class="mw-body-content">
			{{#html-subtitle}}
				<div id="contentSub">{{{html-subtitle}}}</div>
			{{/html-subtitle}}
			{{#html-user-message}}
				<div class="usermessage">{{{html-user-message}}}</div>
			{{/html-user-message}}
			{{{html-body-content}}}
			{{{html-categories}}}
			<div class="visualClear"></div>
			{{{html-after-content}}}
			<div class="visualClear"></div>
		</div>
	</main>

	{{{html-app-footer}}}
</div>
