name: Update MaccabiPedia Calendar (Football)
on:
  schedule:
    - cron: "0 16,20,0 * * *"
  workflow_dispatch:

jobs:
  update-maccabipedia-calendar:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.11
          architecture: x64
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Update MaccabiPedia Calendar
        env:
          FOOTBALL_CALENDAR_ID: ${{ secrets.FOOTBALL_CALENDAR_ID }}
          GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
          SHOULD_PUBLISH_TO_BROTHER_1906_SITE: true
          BROTHER_1906_API_KEY: ${{ secrets.BROTHER_1906_API_KEY }}
        run: python maccabipedia_calendar/main.py
  workflow-keepalive:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: liskin/gh-workflow-keepalive@v1
