name: Update league table status
on:
  schedule:
    - cron: "0 20 * * *"
  workflow_dispatch:

jobs:
  upload-league-table-status:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.11
          architecture: x64
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Fetch Football league table and update MaccabiPedia
        env:
          PYWIKIBOT_DIR: pywikibot_configs/
          MACCABIPEDIA_BOT_USERNAME: ${{ secrets.MACCABIPEDIA_BOT_USERNAME }}
          MACCABIPEDIA_BOT_PASSWORD: ${{ secrets.MACCABIPEDIA_BOT_PASSWORD }}
        run: python update_league_table.py
      - name: Fetch Volleyball league table and update MaccabiPedia
        env:
          PYWIKIBOT_DIR: pywikibot_configs/
          MACCABIPEDIA_BOT_USERNAME: ${{ secrets.MACCABIPEDIA_BOT_USERNAME }}
          MACCABIPEDIA_BOT_PASSWORD: ${{ secrets.MACCABIPEDIA_BOT_PASSWORD }}
        run: python update_league_table_volleyball.py
      - name: Fetch Basketball league table and update MaccabiPedia
        env:
          PYWIKIBOT_DIR: pywikibot_configs/
          MACCABIPEDIA_BOT_USERNAME: ${{ secrets.MACCABIPEDIA_BOT_USERNAME }}
          MACCABIPEDIA_BOT_PASSWORD: ${{ secrets.MACCABIPEDIA_BOT_PASSWORD }}
        run: python update_league_table_basketball.py
  workflow-keepalive:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: liskin/gh-workflow-keepalive@v1
