.book-details-page-container {
    .page-container();

    .entity-profile {
        .collapsable-title(false);

        .profile-container {
            width: 100%;

            .viewport-wide-start-from(@viewport-large; {
                    display: grid;
                    grid-template-columns: 15rem 1fr;
                });

            .books-details-profile-image-container {
                p {
                    margin: 0;

                    img {
                        width: 100%;
                        max-height: 20rem;
                        object-fit: contain;

                        .viewport-wide-start-from(@viewport-large; {
                                object-fit: cover;
                            });
                    }
                }

                &.default-picture {
                    background-color: @background-primary;
                    padding: @space-regular @space-xLarge;

                    img {
                        max-height: 15rem;
                    }
                }
            }

            .books-details-info-container {
                .viewport-wide-start-from(@viewport-large; {
                        .flex-column();
                        gap: @space-regular;

                        background-image: url("https://www.maccabipedia.co.il/skins/Metrolook/assets/images/tilt-maccabi-symbol-left.png");
                        background-repeat: no-repeat;
                        background-position: right top;
                        background-size: auto 100%;
                    });

                .book-details-titled-info {
                    flex-grow: 1;

                    .viewport-wide-start-from(@viewport-large; {
                            margin-inline-start: @space-xLarge;
                        });

                    .book-details-biography-title {
                        color: @text-emphasis;
                        font-size: @font-size-large-rem;
                        font-weight: bold;

                        a {
                            color: @text-emphasis;
                        }
                    }

                    .book-details-info-item {
                        span {
                            font-weight: bold;

                            &:after {
                                content: ":";
                                margin-inline-end: @space-xSmall;
                            }
                        }
                    }
                }

                .books-details-summary-container {
                    background-color: @background-secondary-lighter;
                    font-size: @font-size-small-rem;
                    padding: 0 @space-regular;

                    .viewport-wide-up-to(@viewport-large; {
                            margin: 0 -@space-small;

                            &::before {
                                content: "על הספר:";
                                float: left;
                                font-weight: bold;
                                margin-inline-end: @space-xSmall;
                                min-width: fit-content;
                            }

                            p {
                                margin: 0;
                            }
                        });
                }
            }
        }
    }
}