.donate-us-page-container {
    .page-container();

    .title {
        font-size: @font-size-large-rem;
        font-weight: bold;
        text-align: center;
    }

    .teaser-text {
        text-align: justify;

        .viewport-wide-start-from(@viewport-regular; {
                text-align: unset;
            });
    }

    .viewport-wide-start-from(@viewport-regular; {
            .text {
                background-position: right top;
                background-image: url("https://www.maccabipedia.co.il/skins/Metrolook/assets/images/tilt-maccabi-symbol-left.png");
                background-repeat: no-repeat;
                background-size: 35%;
            }

            .donate-us-content-container {
                max-width: 50%;
            }
        });

    .viewport-wide-start-from(@viewport-large; {
            .text {

                background-size: 25%;
            }
        });
}