.game-details-page-container {
    .page-container();

    .disclaimer {
        .disclaimer();
    }

    p {
        margin: 0;
    }

    .banner-container {
        position: relative;

        background-color: @background-primary-darker;
        color: @white;

        overflow: hidden;

        a {
            color: @white;
        }

        .banner-background {
            position: absolute;
            inset: 0;
            z-index: 1;

            background-repeat: no-repeat;
            background-size: auto 100%;

            &.right {
                background-image: url("https://www.maccabipedia.co.il/skins/Metrolook/assets/images/tilt-maccabi-symbol-right.png");
                background-position: left top;
            }

            &.left {
                background-image: url("https://www.maccabipedia.co.il/skins/Metrolook/assets/images/tilt-maccabi-symbol-left.png");
                background-position: right top;
            }
        }

        >*:not(.banner-background) {
            position: relative;
            z-index: 2;
        }

        .intro-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3, auto);

            .team-container {
                padding: @space-small @space-regular;
                font-size: @font-size-large-rem;

                &:first-of-type p {
                    position: relative;
                    justify-content: end;

                    &::after {
                        content: ":";
                        position: absolute;
                        top: 0;
                        right: -@space-large;

                        color: @text-secondary;
                        height: 100%;

                    }
                }

                &.winner {
                    font-weight: 800;
                }

                p {
                    display: flex;
                    gap: @space-regular;

                    line-height: 1.2;
                }

                .name {
                    white-space: break-spaces;
                    text-align: center;
                }
            }

            .technical-score {
                grid-column: span 2;

                font-size: @font-size-large-rem;
                font-weight: bold;
                text-align: center;
            }

            .score-details-container {
                grid-column: span 2;

                font-size: @font-size-small-rem;
                padding-block-end: @space-small;

                .score-row {
                    .row-name {
                        color: @text-secondary;
                        font-size: @font-size-xSmall-rem;
                    }

                    .highlight {
                        font-weight: 800;
                    }

                    p {
                        display: grid;
                        grid-template-columns: 1.5rem auto 1.5rem;
                        justify-content: center;
                        gap: @space-xLarge;

                        line-height: 1;

                        span:first-of-type {
                            text-align: right;
                        }
                    }
                }
            }
        }

        .banner-rule {
            height: 1px;
            background-color: @yellow-regular;
        }

        .game-info-section-container {
            .flex-column();

            font-size: @font-size-regular-rem;
            text-align: center;
            padding: @space-small;

            .viewport-wide-start-from(@viewport-regular; {
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;

                    > * {
                        flex-basis: 33%;
                    }
                });

            .viewport-wide-start-from(@viewport-large; {
                    margin: 0 auto;
                    max-width: 80%;
                });

            .info-detail {
                .flex-center-center();
                gap: @space-small;

                i {
                    color: @text-secondary;
                    font-size: @font-size-xSmall-rem;
                }

                p{
                    .ellipsis();
                }
            }
        }
    }

    .tabber__header {
        .tabber__tabs {
            justify-content: center;

            a {
                padding: @space-small @space-regular;
                .transition(@transition-fast);
            }

            a[aria-selected="true"] {
                background-color: @blue-regular;
                color: @white;
            }
        }

        .tabber__indicator {
            display: none;
        }
    }

    .desktop-game-teams-statistic {
        display: flex;
        gap: @space-xxLarge;

        .details-team-statistic {
            flex-grow: 1;

            >* {
                border-inline: 1px solid @gray-lightest;
            }

            .team-container {
                background-color: @background-primary-darker;
                color: @text-secondary;
                font-size: @font-size-large-rem;
                font-weight: bold;
                text-align: center;

                &.desktop-only {
                    display: flex !important;
                    align-items: center;
                    gap: @space-small;
                    padding-inline: @space-regular;

                    .coach {
                        font-size: @font-size-small-rem;
                    }
                }

                padding-block: @space-xSmall;

                a {
                    color: @text-secondary;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .details-team-statistic,
    .desktop-game-teams-statistic {
        .coach-container {
            .flex-center-center();
            gap: @space-small;

            background-color: @background-secondary-lighter;
            color: @text-primary;
            font-weight: bold;
            padding: @space-small;

            .viewport-wide-start-from(@viewport-large; {
                    display: none;
                });

            a {
                color: @text-primary;
            }

            .content {
                display: flex;
                align-items: center;
                gap: @space-regular;
            }
        }

        .team-info-head {
            background-color: @white;
            font-weight: bold;
            border-block-end: 1px solid @black;

            .title {
                &.two-rows {
                    .sub {
                        border-block: 1px solid @gray-lightest;

                        &.two-columns-second-shorter p {
                            grid-template-columns: 1fr 3rem;

                            span:not(:last-of-type)::after {
                                right: -3px;
                            }
                        }

                        &.three-columns p {
                            grid-template-columns: repeat(3, 1fr);

                            span:not(:last-of-type)::after {
                                right: -1px;
                            }
                        }

                        p {
                            display: grid;
                            align-items: center;
                            gap: @space-xxSmall;

                            font-size: @font-size-small-rem;
                            font-weight: unset;
                            line-height: 1.45;
                            padding-inline: @space-xxSmall;

                            &>* {
                                position: relative;

                                &:not(:last-of-type)::after {
                                    content: "";
                                    position: absolute;
                                    top: 0;

                                    background-color: @gray-lightest;
                                    width: 1px;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .player-row-container {
            border-block-end: 1px solid @gray-lightest;
            background-color: white;
            font-size: @font-size-small-rem;
            line-height: 1.2;

            &:nth-of-type(odd) {
                background-color: @white;
            }

            .viewport-wide-start-from(@viewport-large; {
                    .transition(@transition-fast, background-color);

                    &:hover {
                        background-color: @background-secondary-lighter;
                    }
                });

            .emphasis {
                font-size: @font-size-regular-rem;
                font-weight: bold;
            }

            .name {
                display: flex;
                align-items: center;
                gap: @space-xSmall;

                .small {
                    border-inline-end: 0;
                    font-size: @font-size-small-rem;
                    font-weight: normal;
                }

                .captain {
                    border-radius: 50%;
                    background-color: @background-primary;
                    width: 1rem;
                    height: 1rem;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .multiple-info-cell {
                display: grid;

                &.two-columns-second-shorter {
                    grid-template-columns: 1fr 3rem;
                }

                &.three-columns {
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }

        .team-stat-sum {
            font-weight: bold;
        }

        .team-info-head,
        .player-row-container,
        .team-stat-sum {
            display: grid;
            align-items: center;

            padding: 5px;

            .points {
                position: relative;

                width: 2rem;
                text-align: center;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;

                    background-color: @background-secondary-lighter;
                    width: 1px;
                    height: 100%;
                }
            }

            .mobile-sticky {
                position: sticky;
                left: 0;
                z-index: 10;

                height: 100%;

                .viewport-wide-up-to(@viewport-large; {
                        background-color: inherit;
                    });

                .content {
                    grid-row: ~"2/3";

                    font-weight: bold;
                    text-align: left;
                    padding-inline-start: @space-regular;
                }
            }
        }
    }

    .collection-list-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
        gap: @space-xLarge;

        .item {
            max-width: max-content;

            img {
                .contain-image();
                max-width: 25rem;
                max-height: 15rem;
            }

            .title {
                background-color: @background-contrast-regular;
                color: @text-emphasis;
                font-size: @font-size-large-rem;
                font-weight: bold;
                padding-inline: @space-regular;
            }

            .uniform-kit-container {
                position: relative;

                overflow: hidden;

                .viewport-wide-start-from(@viewport-regular; {
                        max-width: 15rem;
                    });

                .maximize-fake-container {
                    position: absolute;
                    top: @space-xSmall;
                    right: @space-xSmall;

                    color: @gray-regular;

                    .viewport-wide-start-from(@viewport-large; {
                            padding: @space-xSmall;
                        });
                }

                .mp-image-slider-container,
                .static-image-container {
                    padding-block-start: @space-small;

                    img {
                        max-height: 250px;
                    }
                }

                .mp-image-slider-container {
                    padding: 0;

                    .slick-dots {
                        display: flex;
                        bottom: 1.5rem;
                    }

                    .image-container {
                        position: relative;

                        a {
                            position: absolute;
                            top: 0;
                            right: 0;

                            width: 1.5rem;
                            height: 1.5rem;

                            .viewport-wide-start-from(@viewport-large; {
                                    width: 2rem;
                                    height: 2rem;
                                });
                        }
                    }
                }

                .static-image-container {
                    position: relative;

                    img {
                        width: 100%;
                        height: auto;
                    }

                    .maximize-container {
                        position: absolute;
                        top: @space-xSmall;
                        right: @space-xSmall;

                        .viewport-wide-start-from(@viewport-large; {
                                padding: @space-regular @space-xxSmall @space-regular @space-regular;
                            });

                        a {
                            color: @gray-regular;
                        }
                    }
                }
            }
        }
    }

    

    .multimedia-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        align-items: end;
        gap: @space-xLarge;

        color: @text-emphasis;
        font-size: @font-size-large-rem;
        font-weight: bold;
        text-align: center;
        overflow: hidden;

        .viewport-wide-start-from(@viewport-large; {
                grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            });

        .thumb {
            margin: 0;
        }

        .multimedia-summary.titled::before,
        .multimedia-full-game.titled::before,
        .multimedia-crowd.titled::before {
            display: block;
            background-color: @background-contrast-regular;
            max-width: 640px;
        }

        .multimedia-summary.titled::before {
            content: "תקצירים";
        }

        .multimedia-full-game.titled::before {
            content: "המשחק המלא";
        }

        .multimedia-crowd.titled::before {
            content: "סרטוני קהל";
        }
    }

    .image-gallery {
        .responsive-mw-gallery-container();
    }

    .external-links {
        display: flex;
        justify-content: space-between;
        gap: 0 @space-small;
        flex-wrap: wrap;

        ul {
            list-style-type: none;

            margin: 0;
            padding-inline: @space-regular;
            width: 100%;

            .viewport-wide-start-from(@viewport-regular; {
                    column-count: 2;
                    column-gap: @space-small;
                });

            .viewport-wide-start-from(@viewport-large; {
                    column-count: 3;
                    column-gap: @space-regular;
                });
        }
    }
}