.opponent-details-page-container {
    .page-container();

    .names-disclaimer {
        .disclaimer();
    }

    .header-container {
        .flex-column();
        gap: @space-regular;

        .viewport-wide-start-from(@viewport-regular; {
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                &.small {
                    grid-template-columns: repeat(2, 1fr);
                }
            });

        p {
            margin: 0;
        }

        .section-title {
            .title-decorator(@background-contrast-regular, @white, @background-primary);
        }

        .summary-list {
            div {
                padding-inline-end: @space-regular;

                p {
                    .profile-info-description-section();
                    margin: 0;
                }
            }
        }

        .galleries-container {
            display: flex;
            justify-content: center;
            gap: @space-xLarge;

            padding-block: @space-regular;

            .gallery-link-container {
                position: relative;

                border-radius: @border-radius-regular-rem;
                min-width: 5rem;
                .transition(@transition-fast, background-color);

                &:not(:last-of-type) {
                    position: relative;

                    &::after {
                        position: absolute;
                        right: -0.5rem;
                        top: 0;

                        content: "";
                        background-color: @background-secondary-lighter;
                        width: 1px;
                        height: 100%;
                    }
                }

                &:hover {
                    background-color: @background-secondary-lighter;
                }

                a {
                    .absolute-full-container-link();
                }

                p {
                    .flex-center-center(true);

                    font-weight: bold;

                    .number {
                        color: @text-emphasis;
                        font-size: @font-size-xxxxLarge-rem;
                        line-height: 1.2;
                    }
                }
            }
        }

        .general-stats-list {
            column-count: 2;

            .viewport-wide-start-from(@viewport-small; {
                    column-count: 3;
                });

            .viewport-wide-start-from(@viewport-large; {
                    column-count: 2;
                });

            div {
                p {
                    .profile-info-description-section();
                    margin: 0;
                }
            }
        }

        .header-records-section-container {
            .list-title {
                background-color: @background-contrast-regular;
                color: @text-emphasis;
                font-weight: bold;
                padding-inline: @space-small;
            }

            .list-container {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: @space-regular;

                .record-item {
                    position: relative;

                    .flex-column();
                    padding: @space-regular;
                    .transition(@transition-fast, all);

                    .viewport-wide-start-from(@viewport-regular; {
                            padding: @space-xxSmall;
                        });

                    &:hover {
                        background-color: @background-primary;
                        color: @text-secondary;

                        span.record {
                            color: @text-secondary;
                        }
                    }

                    a {
                        .absolute-full-container-link();
                    }

                    span {
                        line-height: 1.3;
                        text-align: center;
                    }

                    .record {
                        color: @text-emphasis;
                        font-size: @font-size-xxxLarge-rem;
                        font-weight: bold;
                        .transition(@transition-fast, all);
                    }

                    .title {
                        font-size: @font-size-small-rem;
                    }

                    .name {
                        font-size: @font-size-small-rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .games-records-container,
    .games-season-records-container {
        display: grid;
        gap: @space-large;

        .viewport-wide-start-from(@viewport-regular; {
                grid-template-columns: 1fr 1fr;
                grid-auto-rows: 1fr;
            });

        .section {
            .profile-additional-info-section();
        }
    }

    .players-records-container {
        .flex-column();
        gap: @space-regular;

        .viewport-wide-start-from(@viewport-regular; {
                display: grid;
                gap: @space-xLarge;
            });
    }

    .all-games-list-section {

        .table-header,
        .table-content .table-row {
            display: grid;
            grid-template-columns: 4rem 1fr repeat(2, 4rem);

            .viewport-wide-start-from(@viewport-large; {
                    grid-template-columns: 10rem 4rem 1fr repeat(3, 8rem) repeat(2, 4rem);
                });

            span {
                padding-inline: @space-small;
                .ellipsis();

                &:not(:last-of-type) {
                    border-inline-end: 1px solid @gray-lightest;
                }
            }
        }

        .table-header {
            border: 1px solid @gray-lightest;

            background-color: @white;
            font-weight: bold;
            margin-block-start: @space-xxSmall;
        }

        .table-content {
            border-inline: 1px solid @gray-lightest;
            border-block-start: 0;

            .table-row {
                font-size: @font-size-small-rem;
                border-block-end: 1px solid @gray-lightest;
                .transition(@transition-fast, background-color);

                &:hover {
                    background-color: @gray-lightest;
                }
            }
        }
    }
}