.profile-list-page-container {
    .page-container();

    .top-banner-container {
        background-image: url("https://www.maccabipedia.co.il/skins/Metrolook/assets/images/players/list-banner.png");
    }
}

.profile-list-branch-list-container {
    .page-container();

    p {
        margin: 0;
    }

    .intro-container {
        display: grid;
        gap: @space-xLarge;

        .viewport-wide-start-from(@viewport-large; {
                grid-template-columns: 15rem auto 15rem;
            });

        .players-container {
            .title {
                .title-decorator(@background-contrast-regular, @white, @background-primary);
            }
        }

        .season-players-container {
            .viewport-wide-up-to(@viewport-large; {
                    grid-row: ~"1/2"
                });

            .title {
                .title-decorator(@background-contrast-regular, @white, @background-primary);
                margin-block-end: @space-regular;
            }

            .player-chip-container {
                .player-chip-container();
            }
        }
    }
}