.ref-details-page-container {
    .page-container();

    .disclaimer {
        .disclaimer();
    }

    .banner-container,
    .games-records-container {
        p {
            margin: 0;
        }
    }

    .banner-container {
        .flex-column();
        gap: @space-regular;

        .viewport-wide-start-from(@viewport-regular; {
                display: grid;
                gap: @space-xLarge;
            });

        .title {
            .title-decorator(@background-contrast-regular, @white, @background-primary);
        }

        .banner-summary-container {
            .info-container {
                .profile-info-description-section();
            }
        }
    }

    .games-records-container {
        display: grid;
        gap: @space-large;

        .viewport-wide-start-from(@viewport-regular; {
                grid-template-columns: repeat(3, 1fr);
                grid-auto-rows: 1fr;
            });

        .section {
            .profile-additional-info-section();
        }
    }
}