.season-list-page-container {
    .page-container();

    .season-list-intro-container {
        display: flex;
        flex-direction: column-reverse;
        gap: @space-large;

        .viewport-wide-start-from(@viewport-small; {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2rem;
            });

        .title {
            .title-decorator(@background-primary);
        }

        .season-list-key-map-container {
            .list {
                .small-tiles-list-container();

                .item {
                    .season-list-chips-item();
                }
            }
        }

        .season-list-total-achievements-container {
            .list {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: @space-regular;

                .achievement p {
                    .flex-center-center(true);

                    margin: 0;

                    .count {
                        color: @text-emphasis;
                        font-size: @font-size-xxLarge-rem;
                        font-weight: bold;
                        line-height: 1.2;

                        .viewport-wide-start-from(@viewport-regular; {
                                font-size: @font-size-xxxxLarge-rem;
                            });
                    }

                    .name {
                        font-size: @font-size-small-rem;
                        font-weight: bold;
                        text-align: center;
                    }
                }
            }
        }
    }

    .season-list-list-container {
        .small-tiles-list-container();

        padding-block-end: @space-regular;

        .season-list-item-container {
            .season-list-chips-item();
        }
    }
}