.ticket-details-page-container {
    .page-container();

    .responsive-tabs {
        .responsive-tabs-reset();

        ul {
            width: unset;
        }

        .slider {
            width: 25%;

            .indicator {
                max-width: 100%;
            }
        }
    }

    .ticket-details-list-container {
        .rich-tiles-list-container();

        .ticket-details-item-container {
            .ritch-tile(2, false, true);
        }
    }
}