.ticket-portal-page-container {
    .page-container();

    .top-banner-container{
        background-image: url("https://www.maccabipedia.co.il/skins/Metrolook/assets/images/tickets/list-banner.png");
    }

    .branches-tabs-container {
        margin-block-start: @space-regular;
    }
}

.ticket-list-page-container {
    .page-container();

    .responsive-tabs {
        .responsive-tabs-reset();

        .ticket-list-seasons-list-container {
            .small-tiles-list-container();

            .ticket-list-seasons-list-item {
                .small-tile(@background-primary-darker);

                .item-title {
                    color: @text-secondary;
                }
            }
        }

        .ticket-list-seasonal-list-container {
            .rich-tiles-list-container();

            .ticket-list-item-container {
                .ritch-tile(0);
            }
        }
    }
}